{% extends 'core/base-search.html' %}

{% load breadcrumbs from directory_components %}

{% block head_title %}Find a UK supplier - GREAT.gov.uk{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        {% url 'find-a-supplier:search' as search_url %}
        {% breadcrumbs left_url=services_urls.great_international left_label='Great.gov.uk international' middle_url=search_url middle_label='Find a Supplier' right_label='Search results' %}
    </div>
{% endblock %}

{% block filters %}
    <fieldset>
        <legend>Filter by industry</legend>
        {% include 'core/filter.html' with label='Industry' alt='Toggle list of industries' field=form.industries %}
    </fieldset>
    <fieldset>
{% endblock %}

{% block subscription %}
<div class="subscription">
    {% if results %}
		{% include 'anonymous-subscribe-form.html' with form=subscribe.form %}
	{% else %}
		{% if not form.is_bound %}
		<div id="fassearch-initial-content">
			<p class="message">Our UK trade profiles will help you contact the right people in the right company.</p>
			<p class="list-header">Trade profiles give you:</p>
			<ul>
				<li>a company summary</li>
				<li>examples of outstanding projects, goods and services</li>
				<li>direct contact with a member of a sales or business development team</li>
			</ul>
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
