{% extends 'base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% block canonical_link %}
	<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'sector-detail-verbose' slug=slug %}" />
{% endblock %}
{% block css %}
	<link href="{% static 'marketing-page-bidi.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}
{% endblock %}

{% block content %}
<div class="container">
	<section id="intro">
		<h2 class="section-header">
			{% block content_header %}
				{% trans "Find your UK trade partner" %}
			{% endblock %}
		</h2>

		{% if show_proposition %}
			{% block proposition %}{% endblock %}
		{% else %}
			{% block synopsis %}{% endblock %}
		{% endif %}
	</section>

	<section id="companies">
		<h2 class="section-header">
			{% block companies_section_title %}{% endblock %}
		</h2>

		<div class="row-fluid">
			{% for company in companies %}
				<div class="span4">
					<article class="company">
						<h3 class="title">{{ company.name }}</h3>
						<img src="{{ company.image_url }}" alt="{% trans company.image_alt %}" />
						<p>
							{% trans company.description %}
						</p>
						<a href="{{ company.url }}">{% trans "Read more about the company" %}</a>
					</article>
				</div>
			{% endfor %}
			{% if sector_value %}
				<div class="span4">
					{% include 'browse-companies.html' %}
				</div>
			{% endif %}
		</div>
	</section>

	<section id="company-showcase">
		<h2 class="section-header">
			{% trans "Company showcase" %}
		</h2>

		<div class="row-fluid showcase-image">
			<img class="span12" src="{{ case_study.image_url }}" alt="{% trans case_study.image_alt %}" aria-labelledby="case-study-image-caption" />
			{% if case_study.image_caption %}
				<p id="case-study-image-caption" class="caption">{% trans case_study.image_caption %}</p>
			{% endif %}
		</div>
		<div class="row-fluid ed-landing-page-sector-case-study-inner">
			<div class="{{ case_study.testimonial|yesno:'span4,span8' }}">
				<h3 class="title">{% trans case_study.title %}</h3>
				{% trans case_study.synopsis|linebreaks %}
				<a href="{{ case_study.url }}">{% trans "Read case study" %}</a>
			</div>
			{% if case_study.testimonial %}
			<div class="span4 case-study-testomonial">
				<blockquote class="ed-arrow_box">
					<span class="text">{% trans case_study.testimonial %}</span>
					<cite>
						<span class="person-name">{% trans case_study.testimonial_name %}</span>
						<span class="company-name">{% trans case_study.testimonial_company %}</span>
					</cite>
				</blockquote>
			</div>
			{% endif %}
			<div class="span4 case-study-info">
				<p id="case-study-company-name">{{ case_study.company_name }}</p>
				<dl aria-labelledby="case-study-company-name">
					<dt>{% trans "Industries" %}</dt>
					<dd>
					{% comment %}Do NOT move the forloop if to new line as this causes extra space before comma{% endcomment %}
					{% for sector in case_study.sectors %}
						<a href="{% url 'company-search' %}?sectors={{sector.value }}">{% trans sector.label %}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
					</dd>
					<dt class="keywords">{% trans "keywords" %}</dt>
					<dd class="keywords">{% trans case_study.keywords %}</dd>
				</dl>
			</div>
		</div>
	</section>
	{% include 'bidi/lead-generation-form.html' with form=lead_generation.form %}
</div>
{% endblock content %}
