{% extends LANGUAGE_BIDI|yesno:'marketing-pages/bidi/base.html,marketing-pages/base.html' %}
{% load static from staticfiles %}

{% block css_layout_class %}fas-marketing-page fas-manufacturing{% endblock %}
{% block hero_title %}Delivering exceptional advanced manufacturing services{% endblock%}
{% block synopsis %}
    <p></p>
    <div class="ed-landing-page-read-more">
        <a href="{% url 'sector-detail-verbose' slug=slug %}">Read more about advanced manufacturing </a>
    </div>
{% endblock %}

{% block proposition %}
	<p>VALUE PROPOSITION PARAGRAPH</p>
	<p>VALUE PROPOSITION PARAGRAPH</p>
	<p>VALUE PROPOSITION PARAGRAPH</p>
	<p>VALUE PROPOSITION PARAGRAPH</p>

	<div class="ed-key-facts-container">
		<h2>Key facts</h2>
		<ul>
			<li>KEY FACT 1</li>
			<li>KEY FACT 2</li>
			<li>KEY FACT 3</li>
		</ul>
	</div>
	
	<h2>ANOTHER VALUE PROPOSITION TITLE</h2>
	<p>ANOTHER VALUE PROPOSITION PARAGRAPH</p>

	<h2>ANOTHER VALUE PROPOSITION TITLE</h2>
	<p>ANOTHER VALUE PROPOSITION PARAGRAPH </p>
	<p>ANOTHER VALUE PROPOSITION PARAGRAPH</p>
	<p>ANOTHER VALUE PROPOSITION PARAGRAPH</p>

	<h2>ANOTHER VALUE PROPOSITION TITLE</h2>
	<p>ANOTHER VALUE PROPOSITION PARAGRAPH</p>
	<p>ANOTHER VALUE PROPOSITION PARAGRAPH</p>

	<div>
		<a href="{% url 'public-company-profiles-list' %}?sectors={{ sector_value }}">Find your UK advanced manufacturing partner today</a>
	</div>
{% endblock %}

{% block companies_section_title %}
	See the UK's advanced manufacturers on the Find a supplier service
{% endblock %}
