{% extends LANGUAGE_BIDI|yesno:'marketing-pages/bidi/base.html,marketing-pages/base.html' %}

{% load trans from i18n %}
{% load static from staticfiles %}

{% block hero_image %}{% static 'images/covers/food.jpg' %}{% endblock %}
{% block hero_title %}{% trans "UK food and drink" %}{% endblock%}
{% block synopsis %}
	<p>{% trans "Whether you want the most delicious food brands or exceptional quality drinks, the UK is the first place to look." %}</p>
    <div class="ed-landing-page-read-more">
        <a href="?verbose=true">{% trans "Read more about UK food and drink" %}</a>
    </div>
{% endblock %}

{% block proposition %}

    <section>
        <p>
            {% trans "The UK is a nation where culinary influences have come together to create food trends that we share with the world. Every day millions of international consumers enjoy British products." %}
        </p>
        <p>
            {% trans "The British “brand” is globally recognised, valued and desirable: we have a rich heritage of well-known, traditional food and drink, we offer first-class produce with excellent provenance and thousands of new products are brought to the market every year." %}
 		</p>
 		<p>
			{% trans "We rank among the world’s best nations for in food quality, traceability and safety." %}
        </p>
    </section>

    <section>
        <div class="row-fluid">
            <div class="span6">
                <h2>{% trans "British heritage shared globally" %}</h2>
                <p>
                    {% trans "From famous Scottish and Northern Irish whiskies to our traditional tea and cakes, the UK has centuries of experience to share." %}
                </p>
                <p>
                    {% trans "We bring new twists to our classic British products, which are exported all over the world including craft beers, ciders, gin and award-winning sparkling wine." %}
                </p>
                <p>
					{% trans "Our unique trading and cultural history has brought us new ingredients, influences, tastes and ideas and we have a wealth of ethnic and specialist foods made in the UK to offer back to the world." %}
                </p>
            </div>
            <div class="span6">
                <div class="ed-key-facts-container">
                    <h2>{% trans "Key facts" %}</h2>
                    <ul>
                        <li>{% trans "The UK exported £12.3 billion of food and non-alcoholic drinks in 2015" %}</li>
                        <li>{% trans "Our main exports include chocolate, cheese and whisky" %}</li>
                        <li>{% trans "We have thousands of suppliers manufacturing to standards accepted in 123 countries worldwide" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <section>
        <h2>{% trans "Innovation in food and drink" %}</h2>
        <p>
        	{% trans "The UK’s food and drink brands develop and sell thousands of new products each year. UK companies were the first to pioneer frozen food and instant coffee." %}
        </p>
        <p>
        	{% trans "We’re leading the way in food research and technology, new product development and trends such as organic, gluten-free, dairy-free and health foods." %}
        </p>
    </section>
    <section>
        <h2>{% trans "Food quality and safety" %}</h2>
        <p>
		    {% trans "Our island location and clean waters give us access to rich stocks of fish and shellfish and our soil and climate provides bountiful agricultural resources for crops, dairy and meat." %}
        </p>
        <p>
		    {% trans "Our manufacturing sector complies with rigorous international safety standards and our brands are trusted around the world." %}
        </p>
		<p>
			{% trans "We care about the food we produce: 89,000 farmers comply with" %} <a href="http://assurance.redtractor.org.uk" target="_blank">{% trans "voluntary farm standards scheme" %}</a> {% trans "that assure animal and worker welfare and our" %} <a href="http://www.brcglobalstandards.com" target="_blank">{% trans "British Retail Consortium manufacturing standards" %}</a> {% trans "have been adopted by 23,000 certificated suppliers, not only in the UK but in 123 other countries." %}
		</p>
		<p>
			{% trans "Our customers recognise us for our excellent service and know that we can deliver." %}
		</p>
    </section>
    <div>
        <a href="{% url 'public-company-profiles-list' %}?sectors={{ sector_value }}">{% trans "Find your UK trade partner in food and drink today" %}</a>
    </div>
{% endblock %}


{% block company_list_title %}
	<h2>{% trans "See the UK's food and drink companies on the Find a supplier service" %}</h2>
{% endblock %}
{% block company_box_text %}
    {% trans "Creative UK businesses are ready to work with you. Discover them on the Find a Supplier service." %}
{% endblock %}
{% block footer_title %}
    {% trans "Find UK food and drink companies to meet your needs" %}
{% endblock %}
{% block footer_text %}
    {% trans "Get access to the exceptional UK food and drink supply chain. Register to be notified as soon as companies that match your needs have created trade profiles." %}
{% endblock %}
