boto3==1.4.1
Django==1.11.15
django-environ==0.4.5
django-formtools==2.0
django-storages==1.6.6
gunicorn==19.5.0
raven==5.19.0
requests==2.18.4
whitenoise==3.1
jsonschema==2.6.0
django_recaptcha==1.2.0
redis==2.10.5
sorl-thumbnail==12.3
zenpy==1.1.10
directory-forms-api-client==3.0.0
directory-components==3.5.0
export-elements==0.23.0
directory-cms-client==8.1.0
directory-api-client==10.0.2
directory-validators==5.0.1
directory-constants>=11.0.0,<12.0.0
beautifulsoup4==4.6.0
waitress==0.8.9
django-redis==4.8.0
directory-healthcheck==0.6.0
