{% extends 'exportopportunity/campaign-base.html' %}

{% load trans from i18n %}
{% load static from staticfiles %}

{% block hero_image %}{% static 'images/covers/spooky-ghost-busses.jpg' %}{% endblock %}

{% block hero_title %}
	{% trans "Find UK legal services that can help you get results" %}
{% endblock %}

{% block hero_subtitle %}
	{% trans "The UK has an international reputation for its independent judicial system, legal excellence and robust laws." %}
{% endblock %}

{% block proposition_title %}
	{% trans "Discover what makes UK legal services great" %}
{% endblock %}

{% block proposition_paragraph %}
	{% trans "4" %}
{% endblock %}

{% block proposition_col1_title %}
	{% trans "5" %}
{% endblock %}

{% block proposition_col1_icon %}
	{% static 'images/icons/judges.svg' %}
{% endblock %}

{% block proposition_col1_paragraph %}
	{% trans "6" %}
{% endblock %}

{% block proposition_col2_title %}
	{% trans "7" %}
{% endblock %}

{% block proposition_col2_icon %}
	{% static 'images/icons/professional-law.svg' %}
{% endblock %}

{% block proposition_col2_paragraph %}
	{% trans "8" %}
{% endblock %}

{% block proposition_col3_title %}
	{% trans "9" %}
{% endblock %}

{% block proposition_col3_icon %}
	{% static 'images/icons/contract-law.svg' %}
{% endblock %}

{% block proposition_col3_paragraph %}
	{% trans "10" %}
{% endblock %}

{% block call_to_action_title %}
	{% trans "11" %}
{% endblock %}

{% block call_to_action_paragraph %}
	<p>{% trans "12" %}</p>
	<p>{% trans "13" %}</p>
{% endblock %}

{% block call_to_action_button_text %}
	{% trans "14" %}
{% endblock %}

{% block carousel_slide_one_title %}
	{% trans "15" %}
{% endblock %}

{% block carousel_slide_one_subtitle %}
	{% trans "16" %}
{% endblock %}

{% block carousel_slide_one_paragraph %}
	{% trans "17" %}
{% endblock %}

{% block carousel_slide_one_button_text %}
	{% trans "18" %}
{% endblock %}

{% block carousel_slide_two_title %}
	{% trans "19" %}
{% endblock %}

{% block carousel_slide_two_subtitle %}
	{% trans "20" %}
{% endblock %}

{% block carousel_slide_two_paragraph %}
	{% trans "21" %}
{% endblock %}

{% block carousel_slide_two_button_text %}
	{% trans "22" %}
{% endblock %}

{% block carousel_slide_three_title %}
	{% trans "23" %}
{% endblock %}

{% block carousel_slide_three_subtitle %}
	{% trans "24" %}
{% endblock %}

{% block carousel_slide_three_paragraph %}
	{% trans "25" %}
{% endblock %}

{% block carousel_slide_three_button_text %}
	{% trans "26" %}
{% endblock %}

