{% extends 'exportopportunity/campaign-base.html' %}

{% load trans from i18n %}
{% load static from staticfiles %}

{% block hero_image %}{% static 'images/covers/spooky-ghost-busses.jpg' %}{% endblock %}

{% block hero_subtitle_classname %}span5{% endblock %}

{% block hero_title %}
	{% trans "Find UK legal services that can help you get results" %}
{% endblock %}

{% block hero_subtitle %}
	{% trans "The UK has an international reputation for its independent judicial systems, legal excellence and robust laws." %}
{% endblock %}

{% block proposition_title %}
	{% trans "Discover what makes UK legal services great" %}
{% endblock %}

{% block proposition_paragraph %}
	{% trans "The UK's legal systems have inspired and influenced similar legal systems worldwide. Every year, we attract many international businesses who want to take advantage of the UK’s globally respected legal services." %}
{% endblock %}

{% block proposition_col1_title %}
	{% trans "Experienced judges" %}
{% endblock %}

{% block proposition_col1_icon %}
	{% static 'images/icons/judges.svg' %}
{% endblock %}

{% block proposition_col1_paragraph %}
	{% trans "Our judges are renowned for their independence, rigour and commercial expertise in all aspects of the law. As a result, UK court judgments carry a guarantee of excellence which is respected internationally." %}
{% endblock %}

{% block proposition_col2_title %}
	{% trans "Professional expertise" %}
{% endblock %}

{% block proposition_col2_icon %}
	{% static 'images/icons/professional-law.svg' %}
{% endblock %}

{% block proposition_col2_paragraph %}
	{% trans "The UK’s regulated barristers and solicitors represent clients worldwide. From helping you close cross-border business deals and manage financial transactions to resolving international disputes, our lawyers have the global expertise to help you build your business." %}
{% endblock %}

{% block proposition_col3_title %}
	{% trans "Robust contract law" %}
{% endblock %}

{% block proposition_col3_icon %}
	{% static 'images/icons/contract-law.svg' %}
{% endblock %}

{% block proposition_col3_paragraph %}
	{% trans "English law is the most popular choice of law for commercial contracts. Valued for its clarity, it’s the world’s most enduring common law system and can provide certainty and security for your business deals." %}
{% endblock %}

{% block call_to_action_title %}
	{% trans "Find the legal services you need" %}
{% endblock %}

{% block call_to_action_paragraph %}
	<p>{% trans "There are hundreds of UK legal companies who can help your business thrive. Our matching service can help you find legal professionals who can meet your needs - fast and for free." %}</p>
	<p>{% trans "Answer a few questions and our government trade advisers will be able to select the most relevant UK companies for you." %}</p>
{% endblock %}

{% block call_to_action_button_text %}
	{% trans "Get matched with UK legal services" %}
{% endblock %}

{% block carousel_slide_one_title %}
	{% trans "We match you with the best UK legal services companies" %}
{% endblock %}

{% block carousel_slide_one_subtitle %}
	{% trans "Globally recognised quality" %}
{% endblock %}

{% block carousel_slide_one_paragraph %}
	{% trans "The UK is ranked among the top countries in the world for the quality of its judicial processes." %}
{% endblock %}

{% block carousel_slide_one_button_text %}
	{% trans "Search UK legal services" %}
{% endblock %}

{% block carousel_slide_two_title %}
	{% trans "We match you with the best UK legal services companies" %}
{% endblock %}

{% block carousel_slide_two_subtitle %}
	{% trans "Internationally popular laws." %}
{% endblock %}

{% block carousel_slide_two_paragraph %}
	{% trans "English law is the the most popular choice in the world for commercial contracts. At the London Court of International Arbitration, 80% of cases are from overseas." %}
{% endblock %}

{% block carousel_slide_two_button_text %}
	{% trans "Search UK legal services" %}
{% endblock %}

{% block carousel_slide_three_title %}
	{% trans "We match you with the best UK legal services companies" %}
{% endblock %}

{% block carousel_slide_three_subtitle %}
	{% trans "Unique legal tradition." %}
{% endblock %}

{% block carousel_slide_three_paragraph %}
	{% trans "English law has been evolving since the Magna Carta was sealed over 800 years ago." %}
{% endblock %}

{% block carousel_slide_three_button_text %}
	{% trans "Search UK legal services" %}
{% endblock %}

