{% extends 'exportopportunity/campaign-base.html' %}

{% load trans from i18n %}
{% load static from staticfiles %}

{% block hero_image %}{% static 'images/covers/unkempt-small-human.jpg' %}{% endblock %}

{% block hero_title %}
	{% trans "Get matched with quality UK food and drink suppliers" %}
{% endblock %}

{% block hero_subtitle %}
	{% trans "UK companies create great food and drink products that sell in markets around the world." %}
{% endblock %}

{% block proposition_title %}
	{% trans "What makes UK food and drink unique" %}
{% endblock %}

{% block proposition_paragraph %}
	{% trans "From traditional cheesemaking and craft beer to new organic and ethically sourced products, our unique food culture has captured the imagination of buyers around the globe." %}
{% endblock %}

{% block proposition_col1_title %}
	{% trans "Tradition and heritage" %}
{% endblock %}

{% block proposition_col1_paragraph %}
	{% trans "From Scotch whisky and shortbread to over 1,000 cheeses from across the UK, we have centuries of food heritage to share. Businesses are bringing new twists to classic British products - from craft beers to lamb and pork - which are exported all over the world." %}
{% endblock %}

{% block proposition_col2_title %}
	{% trans "Innovation and technology" %}
{% endblock %}

{% block proposition_col2_paragraph %}
	{% trans "Thousands of new food and drink products are launched each year, catering to all kinds of consumer tastes. Innovations in science and technology are also helping to bring free-from products to market and extend the shelf life of food." %}
{% endblock %}

{% block proposition_col3_title %}
	{% trans "Food quality and safety" %}
{% endblock %}

{% block proposition_col3_paragraph %}
	{% trans "We’re the only country in Europe that carries out strategic research on food authenticity, offering products that buyers can trust. The UK is also a world leader in animal welfare standards, guaranteeing quality and safety." %}
{% endblock %}

{% block call_to_action_title %}
	{% trans "Find the right food and drink supplier for you" %}
{% endblock %}

{% block call_to_action_paragraph %}
	<p>{% trans "There are hundreds of UK food and drink suppliers with trade profiles offering a range of high quality products and services." %}</p>
	<p>{% trans "Answer just 5 questions and our trade advisers will be able to select businesses that can meet your needs. We can help match you with suppliers of the finest products - fast and for free." %}</p>
{% endblock %}

{% block call_to_action_button_text %}
	{% trans "Get matched with UK suppliers" %}
{% endblock %}

{% block carousel_slide_one_title %}
	{% trans "We match you with the best UK food and drink companies" %}
{% endblock %}

{% block carousel_slide_one_subtitle %}
	{% trans "In-demand food and drink" %}
{% endblock %}

{% block carousel_slide_one_paragraph %}
	{% trans "UK products are driving global demand. British pork saw a 70% increase in Chinese consumer spend in 2016. British lamb was voted product of the year by French shoppers." %}
{% endblock %}

{% block carousel_slide_one_button_text %}
	{% trans "Search UK food and drink" %}
{% endblock %}

{% block carousel_slide_two_title %}
	{% trans "We match you with the best UK food and drink companies" %}
{% endblock %}

{% block carousel_slide_two_subtitle %}
	{% trans "Traditional tastes with a modern twist" %}
{% endblock %}

{% block carousel_slide_two_paragraph %}
	{% trans "Walkers Shortbread, founded in 1898, sends tonnes of shortbread biscuits to over 90 countries. There are more than 1,000 cheeses from across the UK." %}
{% endblock %}

{% block carousel_slide_two_button_text %}
	{% trans "Search UK food and drink" %}
{% endblock %}

{% block carousel_slide_three_title %}
	{% trans "We match you with the best UK food and drink companies" %}
{% endblock %}

{% block carousel_slide_three_subtitle %}
	{% trans "Award-winning products" %}
{% endblock %}

{% block carousel_slide_three_paragraph %}
	{% trans "In 2016, Scotch whisky won over 200 quality awards - including the world’s best single malt whisky. Ableforth’s Bathtub Gin has been named one of the world’s best gins." %}
{% endblock %}

{% block carousel_slide_three_button_text %}
	{% trans "Search UK food and drink" %}
{% endblock %}

