{% extends "exportopportunity/lead-generation-form-base.html" %}

{% load static from staticfiles %}
{% load trans from i18n %}

{% block form_title %}
<h1>{% trans "Explain what you need" %}</h1>
{% endblock %}

{% block form_subtitle %}
<p>{% trans "Tell us more about what products you’re looking for. These details will be sent to UK business advisers. They won’t be shared with UK companies without your consent." %}</p>
{% endblock %}

{% block bodyScripts %}
    <script type="text/javascript" src="{% static 'javascripts/lead-generation.js' %}"></script>
    <script type="text/javascript">
      GOVUK.utils.toggleOtherOnClick(
        document.getElementById('id_needs-products_other'),
        document.getElementById('id_needs-products'),
      );
    </script>
{% endblock bodyScripts %}
