{% extends 'base.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load search_url from company_tags %}

{% block css %}
    <link href="{% static 'lead-generation-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block sub_header %}
<div id="ed-success-banner">
	<div class="container">
		<h2>Thank you</h2>
		<hr>
		<span>
			Successfully sent - a UK  business adviser will be in touch.
		</div>
	</div>
</div>
{{ block.super }}
{% endblock %}

{% block hero_image_extra_attrs %}
	style="padding-top: 165px; min-height: 450px; background-image:url('{% block hero_image %}{% endblock %}'); background-position: right 130px; padding-top: 280px;"
{% endblock %}

{% block hero_title_container %}
    <h1 id="ed-lead-generation-success-title" class="span5">{% block hero_title %}{% endblock %}</h1>
{% endblock %}

{% block hero_text %}
	<br>
	<div class="span5">
		<a href="{% search_url industry %}" id="ed-success-search-button">{% block hero_button_text %}{% endblock %}</a>
	</div>
{% endblock hero_text %}

{% block content %}
<div class="container">
	<div>
		<h2 class="section-header">
			{% block proposition_title %}{% endblock %}
		</h2>
		<p>
			{% block proposition_paragraph %}{% endblock %}
		</p>
		<br>
		<h2 class="section-header">
			{% trans "More UK suppliers" %}
		</h2>
		<br>
		<div id="ed-showcase-container" class="row-fluid">
			{% for company in companies %}
				<div class="span4">
					<img src="{{ company.logo }}" />
					<div>
						<br>
						<h2>{{ company.name }}</h2>
						{% if company.date_of_creation %}
							<p>{% trans 'Incorporated in: ' %}<strong>{{ company.date_of_creation|date:"Y" }}</strong></p>
						{% endif %}
						<p>{% trans 'Number of employees: ' %}<strong>{{ company.number_of_employees }}</strong></p>
						<p><a href="{{ company.public_profile_url }}">{% trans 'view profile' %}</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
		<br>
	</div>
</div>
{% endblock content %}
