{% load static from staticfiles %}
{# deprecated. use core/base.html instead #}
{% load i18n %}
{% get_current_language as LANGUAGE %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ LANGUAGE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}><!--<![endif]-->
    <head>
         {% include 'directory_components/google_tag_manager_head.html' %}
        {% include 'social.html' %}
        <meta name="description" content="{% block meta_description %}Find suppliers of products and services and build your import supply chain from reliable, innovative British companies{% endblock %}">
        <meta id="utmCookieDomain" value="{{ analytics.UTM_COOKIE_DOMAIN }}" />
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no">
        <title>{% block head_title %}{% trans "Find trade profiles of reliable UK suppliers - trade.great.gov.uk" %}{% endblock %}</title>
        {% block canonical_link %}{% endblock %}

        <!--[if IE 8]>
          <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->

        <link href='{% static 'images/favicon-192x192.png' %}' rel='shortcut icon' type='image/png'>
        <!--[if IE]> <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> <![endif]-->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'vendor/bootstrap/css/bootstrap-responsive.min.css' %}" media="all" rel="stylesheet" />

        {% block css %}
            <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
        {% endblock %}
        <!--[if IE 8]><link href="{% static 'ie8fixes.css' %}" media="screen" rel="stylesheet" /><![endif]-->
    </head>

    <body class="{% block css_layout_class %}{% endblock css_layout_class %} {% if LANGUAGE_BIDI %}bidi{% endif %}">
         {% include 'directory_components/google_tag_manager_body.html' %}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        {% include LANGUAGE_BIDI|yesno:'bidi/header.html,header.html' %}

        <main id="content" class="enrolment-content">
            {% block sub_header %}
            <div class="ed-hero-sub-header" {% block hero_image_extra_attrs %}{% endblock %}>
                <div class="container">
                    {% block hero_title_container %}
                        <h1 class="ed-hero-sub-header-title">{% block hero_title %}{% endblock %}</h1>
                    {% endblock %}
                    <div class="row-fluid ed-hero-sub-header-synopsis">
                        <span class="span9">
                            <span>{% block hero_text %}{% endblock %}</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endblock sub_header %}

            {% block content %}
            {% endblock content %}
        </main>

        {% include LANGUAGE_BIDI|yesno:'bidi/footer.html,footer.html' %}

        <div id="global-app-error" class="app-error hidden"></div>
        <!--[if gte IE 9]><!-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="{% static 'javascripts/index.js' %}"></script>
        <script type="text/javascript">GOVUK.page.init();</script>
        {% block bodyScripts %}{% endblock bodyScripts %}
    </body>
</html>
