{% load trans from i18n %}
{% load static from staticfiles %}
{% load search_url from company_tags %}
<div class="browse-companies-container">
	<h3 class="title">{% trans "Find other great UK companies" %}</h3>
	<p>
		{% block company_box_text %}
			{% trans "Exceptional and creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service." %}
		{% endblock %}
	</p>
	<a class="button"  href="{% search_url sector_value=sector_value %}">
		{% trans "Browse UK companies" %}
	</a>
</div>
