{% load trans from i18n %}
{% load static from staticfiles %}
<div class="browse-companies-container">
	<h3 class="title">{% trans "Find other great UK companies" %}</h3>
	<p>
		{% block company_box_text %}
			{% trans "Exceptional and creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service." %}
		{% endblock %}
	</p>
	{% if features.FEATURE_SEARCH_FILTER_SECTOR_ENABLED %}
		<a class="button"  href="{% url 'company-search' %}?sector={{sector_value }}">
			{% trans "Browse UK companies" %}
		</a>
	{% else %}
		<a class="button" href="{% url 'public-company-profiles-list' %}?sectors={{sector_value}}">
			{% trans "Browse UK companies" %}
		</a>
	{% endif %}

</div>
