{% load static from staticfiles %}
<section>
	<div class="ed-landing-page-find-other-companies-container ed-landing-page-find-other-companies-container-bottom">
		<div class="row-fluid">
			<div class="span8">
				<div class="row-fluid">
					<div class="span1 ed-globe-icon-container">
						<img src="{% static 'images/globe-icon.png' %}" />
					</div>
					<div class="span9">
						<h3>{% block footer_title %}Find great UK companies{% endblock %}</h3>
					</div>
				</div>
				<div class="row-fluid ">
					<div class="span11">
						<p class="ed-landing-page-sector-synopsis">
							{% block footer_text %}
								Exceptionally innovative and creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service.
							{% endblock %}
						</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="btn-container pull-right">
					<a class="button" href="{% url 'public-company-profiles-list' %}">
						Browse UK companies
					</a>
				</div>
			</div>
		</div>
	</div>
</section>