{% load static %}
{% load trans from i18n %}
{% load external_url from constants_tags %}
<footer id="footer">
	<div class="container">
		<ul id="footer-links">
			<li>
				<a href="{% external_url 'DIT' %}" title="">
					{% trans "Department for International Trade" %}
				</a>
			</li>
			<li>
				<a href="{% external_url 'contact_directory' %}" title="">
					{% trans "Contact us" %}
				</a>
			</li>
			<li>
				<a href="{% url 'privacy-and-cookies' %}" title="">
					{% trans "Privacy and cookies" %}
				</a>
			</li>
			<li>
				<a href="{% url 'terms-and-conditions' %}" title="">
					{% trans "Terms &amp; conditions" %}
				</a>
			</li>
		</ul>
		<p id="footer-credits">
			<a href="https://www.gov.uk/" target="_blank">
				<img src="{% static 'images/hmg-logo.png' %}" alt="HM Government" width="162">
			</a>
			<span class="copyright-text">&copy; {% trans "Crown Copyright 2016" %}</span>
			<img class="dit-iigb-logo" alt="Welcome to Great Britain &amp; Northern Ireland" src="{% static 'images/welcome-to-great-logo-white.png' %}" width="220"> 
		</p>
	</div>
</footer>
