{% load static %}
{% load external_url from constants_tags %}
<footer class="group ed-footer" id="footer" role="contentinfo">
    <div class="container">
        <div class="row-fluid grid-row">
            <div class="span4 logo">
                <div class="footer-section footer-section--first">
                    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" class="hmg-logo no-focus-highlight">
                        <img src="{% static 'images/HM_Government_logo.png' %}" alt="Gov.uk logo" class="footer-img footer-img--top"/>
                    </a>
                </div>
            </div>

            <div class="span4 links">
                <div class="footer-section">
                    <ul class="footer-links-container">
                      <li class="footer-links"><a href="{% external_url 'export_opportunities' %}" title="Exporting opportunities">Exporting opportunities</a></li>
                      <li class="footer-links"><a href="{% external_url 'find_a_buyer' %}" title="Find a buyer">Next steps</a></li>
                      <li class="footer-links"><a href="{% external_url 'selling_online_overseas' %}" title="Selling online overseas">Advice and support</a></li>
                      <li class="footer-links"><a href="{% external_url 'events' %}" title="Events">News</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="span4 subscribe">
                <div class="footer-section">
                    <ul class="footer-links-container">
                        <li class="footer-links"><a href="{% external_url 'DIT' %}" title="">Department for International Trade</a></li>
                        <li class="footer-links"><a href="{% external_url 'contact_directory' %}" title="">Contact Us</a></li>
                        <li class="footer-links"><a href="{% external_url 'privacy' %}" title="">Privacy and cookies</a></li>
                        <li class="footer-links"><a href="{% external_url 'terms' %}" title="">Terms &amp; conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>