{% load static from static %}
{% load external_url from constants_tags %}
<header class="ed-header-gov-row">
    <div class="container">
        <a href="https://www.gov.uk/" target="_blank">
            <img src="{% static 'images/hmg-logo.png' %}" alt="HMG Logo">
        </a>
    </div>
</header>
<div class="navbar ed-header-buttons">
  <div class="navbar-inner">
    <div class="container">
 
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <img class="dit-iigb-logo" alt="Brand" src="{% static 'images/business-is-great-logo.png' %}"> 
      <div class="nav-collapse collapse pull-right">
        <ul class="nav navbar-nav dit-main-nav-list pull-right">
            <li {% if active_view_name == 'index'%}class="active"{% endif %}>
                <a style="border-left: 1px solid #D8D8D8;" href="{% url 'index' %}">Home</a>
            </li>
            <li {% if active_view_name == 'public-company-profiles-list'%}class="active"{% endif %}>
                <a href="{% url 'public-company-profiles-list' %}">Trade Profiles</a>
            </li>
            <li  {% if active_view_name == 'international-sector-list'%}class="active"{% endif %}>
                <a href="{% url 'international-sector-list' %}">Sectors</a>
            </li>
        </ul>
      </div>
 
    </div>
  </div>
</div>
