{% extends 'landing-page-international-sector-detail-base.html' %}
{% load static from staticfiles %}
{% block hero_title %}Delivering the exceptional in healthcare and life sciences{% endblock%}
{% block hero_image %}{% static 'images/cover-health.jpg' %}{% endblock %}
{% block synopsis %}
    <p>
        Whether you need hospitals built, primary care services managed, or reliable suppliers of the latest medical technology and pharmaceutical advances, the UK is the first place to look.
    </p>
    <div class="ed-landing-page-read-more">
        <a href="?verbose=true">Read more about healthcare and life sciences</a>
    </div>
{% endblock %}

{% block content_header %}
    {% if show_proposition %}
        Healthcare and life sciences from the UK
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block proposition %}
    <section>
        <h2>If you need innovative, high-quality healthcare products and services, the UK is the best place to find new suppliers.</h2>
        <p>
            We’re home to 4 of the world’s top 10 universities and have produced 23 Nobel prizewinners for medicine. This world-class science base and track-record of excellence means you can rely on the UK for cutting-edge market-ready ideas.
        </p>
    </section>

    <section>
        <div class="row-fluid">
            <div class="span6">
                <p>
                    The UK is internationally renowned for its National Health Service, with its 70 years of research and public delivery.
                </p>
                <p>
                    The UK’s unique approach to healthcare and product development helps translate the best medical technology into high-quality, cost-effective and market-ready solutions.
                </p>
                <p>
                    Two of the top 10 global pharmaceutical companies are based in the UK. There are more than 5,000 life sciences companies in the UK and we have a growing market in digital health products and apps.
                </p>
            </div>
            <div class="span6">
                <div class="ed-key-facts-container">
                    <h2>Key facts</h2>
                    <ul>
                        <li>There are more than 5,600 health and life sciences companies across the full UK supply chain</li>
                        <li>The UK has the world’s largest integrated health system as a test bed for world-class products and services</li>
                        <li>More than 80 Nobel Prizes underpin the UK’s top biomedical innovations</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>
                    The UK’s medical technology sector produces a vast range of medical and diagnostic device, particularly single-use technology and orthopaedic devices. The UK also has companies specialising in:
                    <ul>
                        <li>novel drug delivery systems</li>
                        <li>single-use biotechnology facilities</li>
                        <li>medical imaging</li>
                    </ul>
                </p>
                <p>
                    The UK is at the forefront of regenerative medicine and is renowned for gene therapy and tissue-engineered products and services. And the UK’s pharmaceutical industry remains highly competitive in complex formulations and continuous manufacturing processes.
                </p>
                <p>
                    With a comprehensive regulatory framework, robust compliance and quality assurance culture in the UK, product safety and effectiveness are assured.
                </p>
            </div>
        </div>
    </section>
    <section>
        <h2>Work with the UK to create first-rate healthcare</h2>
        <p>
            If you need to develop clinical services, implement digital health systems or extend the skills of your workforce, the UK has unrivalled experience of successful healthcare innovation and delivery.
        </p>
        <p>
            Exceptional standards of healthcare stem from the UK’s NHS, which was ranked as the best healthcare system of 11 major nations in 2013. These standards are sustained by our health professional regulators, health systems regulators and health technology assessment bodies, ensuring the best possible safety, outcomes and cost-effectiveness.
        </p>
        <p>
            Building on the strong foundations of the NHS, the UK’s thriving and diverse commercial healthcare sector caters for all needs.
        </p>
        <p>
            Decades of collaboration between the NHS, academic and private-sector organisations has created a rich pool of innovative providers, ready to adapt their solutions to the needs of customers overseas.
        </p>
        <p>
            For hospital management services, the UK’s tried-and-tested approach to acute and tertiary care brings deep insight. Our services can help you make the most of current delivery models in your country and identify ways to improve efficiency, patient experiences and clinical outcomes.
        </p>
        <p>
            In Kuwait, the NHS is leading the development of new paediatric cancer care services - replicating world-class services offered in the UK through training, support and visiting consultant programmes.
        </p>
        <p>
            And in China, acute care and rehabilitation services are being supported by commercially-driven UK healthcare services which are being delivered by expatriate and local staff.
        </p>
        <p>
            The UK is a world-leading innovator in project financing, particularly public private partnerships (PPPs) that can ensure cost-effective and high-quality public services. UK companies can provide the full range of planning and modelling services needed for successful, resource-efficient infrastructure projects.
        </p>
        <p>
            UK companies are delivering one of the world's biggest healthcare PPP programmes, to meet Turkey's growing demand for healthcare facilities.
        </p>
        <p>
            Whether you need: hospitals built and primary care services managed, or you need reliable suppliers of the latest medical technology pharmaceutical advances, the UK is the first place to look.
        </p>
    </section>
{% endblock %}
{% block company_list_title %}
    <h2>See the UK's healthcare and life sciences providers on the Find a supplier service</h2>
{% endblock %}
{% block footer_title %}Find UK healthcare and life sciences companies to meet your needs{% endblock %}
{% block footer_text %}
    Get access to the exceptional UK healthcare and life sciences supply chain. Register to be notified as soon as companies that match your needs have created trade profiles.
{% endblock %}
