{% extends './govuk_layout.html' %}
{% load static from staticfiles %}
{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}
{% endblock %}

{% block content %}
<div class="container ed-landing-page-sector-specific-container">
	<section style="margin-top: -100px; margin-bottom: 20px;">
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">
						{% block content_header %}Find your UK trade partner{% endblock %}
					</span>
				</h1>
			</div>
		</div>
		<div class="ed-landing-page-synopsis">
			<div class="row-fluid">
				{% if show_proposition %}
					<div class="ed-proposition-container">
						{% block proposition %}{% endblock %}
					</div>
				{% else %}
					{% block synopsis %}{% endblock %}
				{% endif %}
			</div>
		</div>
	</section>

	<section class="ed-landing-page-sector-companies-list">
		<div class="row-fluid">
			{% block company_list_title %}{% endblock %}
		</div>

		<div class="row-fluid">
			{% for company in companies %}
				<div class="span4">
					<div class="row-fluid">
						<img class="ed-landing-page-sector-company-image" src="{{ company.image_url }}" />
					</div>
					<div class="row-fluid">
						<h2 style="font-size: 21px;">{{ company.name }}</h2>
						<p class="ed-landing-page-sector-synopsis">
							{{ company.description }}
						</p>
						<p>
							<a href="{{ company.url }}">Read more</a>
						</p>
					</div>
				</div>
			{% endfor %}
			<div class="span4 ed-landing-page-find-other-companies-container">
				<div class="row-fluid">
					<div class="span8">
						<h3>Find other great UK companies</h3>
					</div>
					<div class="span4 ed-globe-icon-container">
						<img src="{% static 'images/globe-icon.png' %}" />
					</div>
				</div>
				<p class="ed-landing-page-sector-synopsis">
					Innovative and creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service.
				</p>
				<p>
					<div class="btn-container">
						<a class="button" href="{% url 'public-company-profiles-list' %}?sectors={{sector_value}}">
							Browse UK companies
						</a>
					</div>
				</p>
			</div>
		</div>
	</section>

	<section class="ed-landing-page-sector-case-study-container">
		<div class="row-fluid">
			<h2>Company showcase</h2>
		</div>
		<div class="row-fluid ed-image-caption">
			<img class="span12" src="{{ case_study.image_url }}" />
			{% if case_study.image_caption %}
				<div style="bottom: 1px; left: 1px;">{{ case_study.image_caption }}</div>
			{% endif %}
		</div>
		<div class="row-fluid">
			<h2>{{ case_study.title }}</h2>
		</div>
		<div class="row-fluid ed-landing-page-sector-case-study-inner">
			<div class="span4">
				<p>{{ case_study.synopsis|linebreaks }}</p>
				<p>
					<a href="{{ case_study.url }}">Read case study</a>
				</p>
			</div>
			<div class="span4 ed-arrow_box ed-landing-page-case-study-testomonial-container">
				<p class="ed-landing-page-sector-synopsis">
					<b>"{{ case_study.testimonial }}"</b>
				</p>
				<div>{{ case_study.testimonial_name|default:'' }}</div>
				<div>{{ case_study.testimonial_company|default:'' }}</div>
			</div>
			<div class="span4 ed-landing-page-case-study-company-details">
				<p>
					<b>{{ case_study.company_name }}</b>
				</b>
				<p>
					<span>Industries: </span>
					{% for sector in case_study.sectors %}
						<a href="{% url 'public-company-profiles-list' %}?sectors={{sector.value }}">{{ sector.label }}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
				<p>
					<span>keywords: </span><i>{{ case_study.keywords }}</i>
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="ed-landing-page-find-other-companies-container ed-landing-page-find-other-companies-container-bottom">
			<div class="row-fluid">
				<div class="span8">
					<div class="row-fluid">
						<div class="span1 ed-globe-icon-container">
							<img src="{% static 'images/globe-icon.png' %}" />
						</div>
						<div class="span9">
							<h3>{% block footer_title %}Find other great UK companies{% endblock %}</h3>
						</div>
					</div>
					<div class="row-fluid ">
						<div class="span11">
							<p class="ed-landing-page-sector-synopsis">
								{% block footer_text %}
									Exceptionally innovative and creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service.
								{% endblock %}
							</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="btn-container pull-right">
						<a class="button" href="{% url 'public-company-profiles-list' %}?sectors={{sector_value}}">
							Browse UK companies
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock content %}
