{% extends 'landing-page-international-sector-detail-base.html' %}
{% load static from staticfiles %}
{% block hero_image %}{% static 'images/cover-technology.jpg' %}{% endblock %}
{% block title%}Find a your UK trade partner{% endblock %}
{% block hero_title %}Delivering the exceptional in technology{% endblock%}
{% block synopsis %}
	<p>Whether you need electronic systems, data analytics, artificial intelligence or semiconductors, the UK is the first place to look.</p>
{% endblock %}

{% block company_list_title %}
	<h2>See the UK's technology providers on the Find a supplier service</h2>
{% endblock %}
