{% extends 'landing-page-international-sector-detail-base.html' %}
{% load static from staticfiles %}
{% block hero_image %}{% static 'images/cover-food.jpg' %}{% endblock %}
{% block hero_title %}Delivering the exceptional in food and drink{% endblock%}
{% block title%}Find a your UK trade partner{% endblock %}
{% block synopsis %}
	<p>Whether you need hospitals built, primary care services managed, or reliable suppliers of the latest medical technology and pharmaceutical advances, the UK is the first place to look.</p>
{% endblock %}

{% block company_list_title %}
	<h2>See the UK's food and drink companies on the Find a supplier service</h2>
{% endblock %}
