{% extends 'landing-page-international-sector-detail-base.html' %}
{% load static from staticfiles %}
{% block hero_image %}{% static 'images/cover-creative.jpg' %}{% endblock %}
{% block hero_title %}Delivering exceptional creative services{% endblock%}
{% block title%}Find a your UK trade partner{% endblock %}
{% block synopsis %}
	<p>Whether you need buildings designed, films made or a fresh approach to marketing, the UK is the first place to look.</p>
{% endblock %}

{% block company_list_title %}
	<h2>See the UK's creative services providers on the Find a supplier service</h2>
{% endblock %}

{% block form_value_proposition %}
Get access to the exceptional UK creative supply chain. Register to be notified as soon as companies that match your needs have created trade profiles.
{% endblock %}
