{% load trans from i18n %}
<div class="ed-landing-page-form-container">
	<div class="ed-landing-page-form-inner">
		<h2 style="font-weight: 300; margin-top: 0;">{% trans "Register to see the latest UK companies" %}</h2>
		<p>
			{% trans "We have hundreds of companies that may meet your needs and new ones are being added frequently. Register to receive a weekly mail with a summary of new companies in your sector." %}
		</p>

		<div class="row-fluid">
			<form action="{% url 'subscribe' %}" method="post" style="margin-top: 30px;">
				<div class="row-fluid">
					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							<label for="{{ form.full_name.id_for_label }}">
								<span>{{ form.full_name.label }}</span>
								{{ form.full_name.errors }}
								{{ form.full_name }}
							</label>
						</div>
					</div>

					<div class="span4">
						<div class="{{ form.email_address.css_classes|default:'input-field-container' }}">
							<label for="{{ form.email_address.id_for_label }}">
								<span>{{ form.email_address.label }}</span>
								{{ form.email_address.errors }}
								{{ form.email_address }}
							</label>
						</div>
					</div>

					<div class="span4">
						<div class="{{ form.sector.css_classes|default:'input-field-container' }}">
							<label for="{{ form.sector.id_for_label }}">
								<span>{{ form.sector.label }}</span>
								{{ form.sector.errors }}
								{{ form.sector }}
							</label>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span10 checkbox-tc {{ form.terms.css_classes|default:'input-field-container' }}" style="text-align: right;">
						{{ form.terms.errors }}
						<label for="{{ form.terms.id_for_label }}" style="margin-top: 15px; font-weight: 300;">
							{{ form.terms.label }}
							<input id="{{ form.terms.id_for_label }}" name="{{ form.terms.html_name }}" type="checkbox" style="vertical-align: top; margin-top: 7px;">
						</label>
					</div>

					<div class="span2 btn-container ed-landing-page-register-button-container">
						<button class="button" style="border-radius: 4px;">
							{% trans "Register" %}
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
