{% extends './govuk_layout.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}
{% trans "Welcome to Great Britain and Northern Ireland - the right place to do business" %}
{% endblock %}

{% block content %}
<div class="container">
	<div style="margin-top: -100px;">
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">{% trans "Find your UK trade partner" %}</span>
				</h1>
			</div>
		</div>
		<div class="ed-landing-page-synopsis">
			<div class="row-fluid">
				<p>
					{% trans "As an international business decision-maker you need look no further than the UK for innovative, high-quality products and services. This is the place to make the right trade connections with global corporations and smaller enterprises across every industry." %}
				</p>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<p>
						{% trans "All around the world, UK companies are working with international businesses and governments to create stunning new environments, run high quality services and deliver astonishing experiences." %}
					</p>
					<p>
						{% trans "The UK’s zest for innovation is helping transform lives worldwide and provides answers to many of the most pressing global challenges." %}
					</p>
					<p>
						{% trans "UK companies have created the world’s first bionic hand with independently moving fingers and the latest motion-tracking technology to make sports more spectacular: just two exceptional examples of what we can offer you." %}
					</p>
					<p>
						{% trans "Our experience, reliability and creativity are what makes UK businesses world-renowned. When you need a trade partner to create exceptional products and services, the strength and expertise of UK companies is hard to beat." %}
					</p> 
					<p>
						{% trans "We can help you make vital business connections with ideal companies." %}
					</p>
					<p>
						{% trans "Choose from the millions of businesses in the UK to work with you today." %}
					</p>
				</div>
				<div class="span6 ed-landing-page-key-facts">
					<h3>{% trans "UK business facts" %}</h3>
					<ul>
						<li><span>{% trans "UK companies are at the heart of everyday goods and services, including almost every mobile phone worldwide" %}</span></li>
						<li><span>{% trans "Largest technology market in Europe, larger than the rest of Europe combined" %}</span></li>
						<li><span>{% trans "A long history of innovation and creativity with 123 Nobel prize winners" %}</span></li>
						<li><span>{% trans "UK brands are renowned for quality, reliability and desirability" %}</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<h1 class="ed-landing-page-read-more-subtitle">{% trans "UK trade industries" %}</h1>

	<div class="row-fluid">
		<div class="span6 ed-landing-page-sector-container">
			<div class="span4">
				<img class="ed-landing-page-sector-image" src="{% static 'images/aug-thumbs.jpg' %}" />
			</div>
			<div class="span8">
				<h2>{% trans "Healthcare and life sciences in the UK" %}</h2>
				<p class="ed-landing-page-sector-synopsis">
					{% trans "Get access to the UK health and life sciences supply-chain, delivering high quality, innovative services to the world." %}
				</p>
				<p>
					<a href="#">{% trans "Find out more about the UK’s healthcare and life sciences" %}</a>
				</p>
			</div>
		</div>
		<div class="span6 ed-landing-page-sector-container">
			<div class="span4">
				<img class="ed-landing-page-sector-image"  src="{% static 'images/wimbledon.jpg' %}" />
			</div>
			<div class="span8">
				<h2>{% trans "The UK’s advanced technology" %}</h2>
				<p class="ed-landing-page-sector-synopsis">
					{% trans "Check out the latest cutting-edge technological innovations that the UK is bringing to the world." %}
				</p>
				<br>
				<br>
				<p>
					<a href="#">{% trans "Find out more about UK technology" %}</a>
				</p>
			</div>
		</div>
	</div>

	<div class="row-fluid ed-landing-page-see-more-button-container">
		<a href="{% url 'international-sector-list' %}" class="ed-landing-page-see-more-button">
			{% trans "See more industries" %}
		</a>
	</div>

	{% include 'landing-page-international-form.html' %}

</div>
{% endblock content %}
