{% extends 'landing-page-international-sector-detail-base.html' %}
{% load static from staticfiles %}
{% block hero_image %}{% static 'images/cover-technology.jpg' %}{% endblock %}
{% block hero_title %}UK technology{% endblock%}
{% block synopsis %}
    <p>Whether you need electronic systems, data analytics, artificial intelligence or semiconductors, the UK is the first place to look.</p>
    <div class="ed-landing-page-read-more">
        <a href="?verbose=true">Read more about technology in the UK</a>
    </div>
{% endblock %}
    
{% block proposition %}
    <section>
        <h2>If you need the best technology, look no further than the UK.</h2>
        <p>
            The UK is a world leader: in 2016, we ranked first for science and technology according to the Good Country Index and third in the Global Innovation Index.
        </p>
        <p>
            The UK technology industry underpins many of our successful business sectors – from financial services and high-value manufacturing, to retail and agriculture – and continues to expand at an extraordinary pace.
        </p>
        <div class="row-fluid">
            <div class="span6">
                <p>
                    Many of the world’s best-known and successful companies take advantage of UK innovation, and we are proud that we provide a technological springboard for companies worldwide.
                    <ul>
                        <li>Our technology industry is one of the world’s largest and shows the UK’s creativity and design skills. The UK is particularly focussed on: low-power radio-frequency electronics, such as the first single-chip implementation of Bluetooth and the international NarrowBand-Internet of Things standard</li>
                        <li>development of 5G communications, which will underpin the development of connected devices</li>
                        <li>data analytics to create real-time consumer trends, behaviour and insights</li>
                        <li>data centres - we have the largest market capacity in Europe</li>
                        <li>artificial intelligence - we are home to  many successful artificial intelligence (AI) start-up companies, especially those specialising in machine learning, deep learning and natural language processing</li>
                        <li>producing compound semiconductor materials producing frontier-based sensor technologies.</li>
                    </ul>
                </p>
            </div>
            <div class="span6">
                <div class="ed-key-facts-container">
                    <h2>Key facts</h2>
                    <ul>
                        <li>The UK has the largest technology market in Europe</li>
                        <li>The second largest telecoms service exporter globally is from the UK</li>
                        <li>The world’s second largest data centre sector is based in the UK</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row-fluid">
            <div class="span12">
            </div>
        </div>
    </section>
    <section>
        <h2>UK technology firms are global success stories</h2>
        <p>
            There are thousands of technology start-ups in the UK, thanks to our strong entrepreneurial culture.
        </p>
        <p>
            Successful technology companies can be found all over the country and if you're looking to grow your business through technology, the UK is an ideal place to find a trade partner.
        </p>
        <p>
            Our flourishing start-ups complement a host of established global technology companies based here. UK technology success stories include:
            <ul>
                <li>a telecommunications services company that operates in 180 markets with revenue of more than £19 billion</li>
                <li>the world's third-largest supplier of enterprise resource planning software</li>
                <li>a mobile virtual network operator in 21 countries worldwide</li>
                <li>the world's second biggest mobile telecomms network (by number of connections)</li>
            </ul>
        </p>
        <div>
            <a href="{% url 'public-company-profiles-list' %}?sectors={{ sector_value }}">Find your UK technology trade partner</a>
        </div>
    </section>
{% endblock %}
{% block company_list_title %}
    <h2>See the UK's technology providers on the Find a supplier service</h2>
{% endblock %}
{% block company_box_text %}
    Creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service. 
{% endblock %}
{% block footer_title %}
    Find UK technology companies to meet your needs
{% endblock %}
{% block footer_text %}
    Get access to the UK technology supply chain. Register to be notified as soon as companies that match your needs have created trade profiles.
{% endblock %}
