{% load trans from i18n %}
<div class="ed-landing-page-form-container">
	<div class="ed-landing-page-form-inner">
		<h2 style="font-weight: 300; margin-top: 0;">{% trans "Find a UK company that can meet your needs" %}</h2>
		<p>
			{% trans "Choose from hundreds of UK companies offering exceptional products and services. Register to be notified as soon as companies that match your needs are live on the Find a Supplier service." %}
		</p>

		<div class="row-fluid">
			<form action="" method="post">
				<div class="row-fluid">
					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							{{ form.full_name.errors }}
							<label for="{{ form.full_name.id_for_label }}">
								<b>{{ form.full_name.label }}</b>
								{{ form.full_name }}
							</label>
						</div>
					</div>

					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							{{ form.email_address.errors }}
							<label for="{{ form.email_address.id_for_label }}">
								<b>{{ form.email_address.label }}</b>
								{{ form.email_address }}
							</label>
						</div>
					</div>

					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							{{ form.sector.errors }}
							<label for="{{ form.sector.id_for_label }}">
								<b>{{ form.sector.label }}</b>
								{{ form.sector }}
							</label>
						</div>
					</div>
				</div>

				<hr class="custom-hr">

				<div class="row-fluid">
					<div class="span10 checkbox-tc {{ form.terms.css_classes|default:'input-field-container' }}" style="text-align: right;">
						{{ form.terms.errors }}
						<label for="{{ form.terms.id_for_label }}" style="margin-top: 15px; font-weight: 300;">
							{{ form.terms.label }}
							<input id="{{ form.terms.id_for_label }}" name="{{ form.terms.html_name }}" type="checkbox" style="vertical-align: top; margin-top: 7px;">
						</label>
					</div>

					<div class="span2 btn-container ed-landing-page-register-button-container">
						<button class="button" style="border-radius: 4px;">
							{% trans "Register" %}
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>