{% load language trans from i18n %}
{% load static from staticfiles %}
{% language request.LANGUAGE_CODE %}
    <div class="ed-language-switcher bidi-ltr">
    {% if language_switcher.show %}
        <form method="get">
            {{ language_switcher.form.lang }}
            <button>{% trans "Select" %}</button>
        </form>
    {% elif request.LANGUAGE_CODE != 'en-gb' %}
        <div class="ed-not-translated">
            <img src="{% static 'images/language-globe.png' %}" />
            <span>{% trans 'Page in English only' %}</span>
        </div>
    {% endif %}
    </div>
{% endlanguage %}
