{% extends 'govuk_layout.html' %}
{% load staticfiles %}
{% block sub_header %}{% endblock %}
{% block css %}
    <link href="{% static 'legal.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
		<h1 class="hidden">Privacy and cookies</h1>
    <div class="container ed-legal-container">
        <h2 id="your-personal-information">Your personal information</h2>
        <p>This page explains what kind of personal information the <a href="http://www.gov.uk/dit">Department for International Trade</a> (DIT) holds about you, how it’s used, how it’s protected and how you can find out about it.</p>
        <p>Please read this page carefully to understand how we collect, use and store your personal information. Please also re-visit it from time to time to review any changes that have been made.</p>
        <h2 id="what-information-the-dit-stores-about-you">What information the DIT stores about you</h2>
        <p>great.gov.uk and the DIT will, for example, store the following information about you:</p>
        <ul>
            <li>your name</li>
            <li>your chosen username and password</li>
            <li>your email address</li>
            <li>your business’s address</li>
            <li>your business’s exporting experience</li>
            <li>your internet protocol (IP) address used your computer to connect to the internet</li>
            <li>your browser type and version, and any browser plug-ins you use</li>
            <li>your time-zone setting</li>
            <li>your operating system and platform</li>
            <li>the full uniform resource locators (URLs) you used to get to our site, through our site and from our site (including the date and time)</li>
            <li>pages you viewed or terms you searched for</li>
            <li>page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and ‘mouse-overs’)</li>
            <li>methods used to browse away from the page</li>
            <li>phone numbers used to call our customer service helpline</li>
        </ul>
        <p>Not all of this information will be personal data, and the extent to which any of this information is personal data may depend on applicable data protection laws.</p>
        <p>Some of this information will be collected through the use of cookies and other related tracking technologies. Cookies are used to distinguish you from other users of this website. DIT provides details on what cookies do and a full list of cookies that DIT uses on its websites. For more information see our cookie policy.</p>
        <p>DIT may receive information about you if you use any of the other websites the DIT operates or services DIT provides. DIT also works with third parties (for example, partners and subcontractors) and may receive information about you from these third parties. You should refer to the privacy policies of those third parties if you have concerns about their disclosure of your personal information to us.</p>
        <h2 id="how-the-dit-protects-your-personal-information">How the DIT protects your personal information</h2>
        <p>The DIT complies with the Data Protection Act 1998.</p>
        <p>The DIT will:</p>
        <ul>
            <li>tell you why the information is needed  </li>
            <li>only ask for what’s needed</li>
            <li>make sure nobody has access to it who shouldn’t</li>
            <li>tell you if the information is shared with other organisations and if you can say no to this</li>
            <li>only keep the information for as long as it’s needed</li>
            <li>not make it available for commercial use (for example, for marketing) without your permission</li>
        </ul>
        <p>You must:</p>
        <ul>
            <li>give accurate information</li>
            <li>tell the DIT about any changes, for example, to your address</li>
        </ul>
        <h2 id="sharing-your-information">Sharing your information</h2>
        <p>Your information can be shared with other teams in the DIT or other organisations where this is needed to process your application.</p>
        <p>There are some cases when your information can be shared for other reasons, for example, to prevent crime.</p>
        <p>If you’re asking for information that isn’t published on www.great.gov.uk, DIT may need to contact other organisations to find answers to your questions.</p>
        <p>If your question is technical, DIT may need to pass information to technology suppliers. DIT will only pass on personal data if it is necessary to do so, and will not keep your personal data or records of its correspondence longer than necessary.</p>
        <h2 id="the-dit-staff-handling-your-information">The DIT staff handling your information</h2>
        <p>The DIT staff are trained in handling information and understand how important it is to protect personal and other sensitive information. Within DIT, access to your personal information is limited to those members of our team who need access to it in order to provide you with our services which you request; to communicate with you (including, with your consent, to send you marketing communications); and to carry out legal or regulatory obligations.</p>
        <h2 id="your-rights">Your rights</h2>
        <p>You have the right to:</p>
        <ul>
            <li>ask to receive a copy of the personal information the DIT holds about you</li>
            <li>amend inaccurate personal information</li>
            <li>stop us sending you direct marketing communications</li>
            <li>in limited circumstances, to have personal information erased, or to restrict or challenge or processing of that personal information</li>
        </ul>
        <p>To exercise any of these rights, fill in the <a href="https://www.contactus.trade.gov.uk/enquiry/topic">DIT contact form</a> or write a letter to:</p>
        <p>Department for International Trade<br>King Charles Street<br>Whitehall<br>London<br>SW1A 2AH</p>
        <p>Copies of your information and details of use cost £10, payable in advance.</p>
        <p>Sometimes the DIT can withhold information, for example, to protect national security.</p>
        <h2 id="how-to-make-a-complaint">How to make a complaint</h2>
        <p>If you’re unhappy with the way the DIT handled your personal information, you can write to:</p>
        <p>Department for International Trade<br>King Charles Street<br>Whitehall<br>London<br>SW1A 2AH</p>
        <p>You’ll get a confirmation that the DIT has received your complaint within 5 days and a full answer within 20 days. The DIT will tell you if there’s going to be a delay.</p>
        <p>If you’re unhappy with the answer or need any advice, contact the Information Commissioner’s Office (ICO).</p>
        <p>The ICO can investigate your complaint and take action against anyone who has misused personal data.</p>
        <h2 id="changes-to-this-privacy-policy">Changes to this privacy policy</h2>
        <p>Any changes made to this privacy policy will be posted on this webpage. Please check back for updates or changes to our privacy policy. The way the DIT deals with your personal information is set out in its information charter.</p>
        <h2 id="dit-cookies-policy">DIT cookies policy</h2>
        <p>DIT wants to provide services that are easy to use, useful and reliable. Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device, for example, computer or mobile phone.</p>
        <p>These include small files known as cookies. They cannot be used to directly identify you personally. These pieces of information are used to improve services for you through, for example:</p>
        <ul>
            <li>enabling a service to recognise your device so you don’t have to give the same information several times</li>
            <li>measuring how many people are using services, so they can be made easier to use</li>
        </ul>
        <p>You can manage these small files yourself and learn more about them through on About Cookies.</p>
        <h2 id="use-of-cookies-on-this-website">Use of cookies on this website</h2>
        <p>The www.great.gov.uk website uses cookies. These enable the website to provide more appropriate information to you, for example, by not asking for the same information on multiple occasions.</p>
        <p>The website uses Google Analytics, which sets cookies to help us accurately estimate the number of visitors to the website and volumes of usage. This to ensure that the service is available when you want it and fast.</p>
        <p>The Google Analytics cookies used on www.great.gov.uk are:</p>
        <p>Name: _ga<br>Expires: after 2 years Purpose: to distinguish users</p>
        <p>Additional cookies are set for users of the Find a Supplier service. These are:</p>
        <p>Name: sessionid<br>Expires: after 2 weeks<br>Purpose: Maintains the session id</p>
        <p>Name: django_language<br>Expires: session<br>Purpose: Maintains the language</p>

        <br>
        <p>
            For further details on the cookies set by Google Analytics, please refer to the <a href="https://developer.google.com/">Google Code</a> website.
        </p>
    </div>
{%endblock content %}
