{% load trans from i18n %}
{% load static from staticfiles %}
<div class="search-companies-container">
	<h3>
		{% block footer_title %}
			{% trans "Find great UK companies" %}
		{% endblock %}
	</h3>
	<p>
		{% block footer_text %}
			{% trans "Exceptionally innovative and creative UK trade partners are ready to work with you. Discover them on the Find a Supplier service." %}
		{% endblock %}
	</p>
	{% if features.FEATURE_COMPANY_SEARCH_VIEW_ENABLED %}
		<a class="button" href="{% url 'company-search' %}">{% trans "Find a supplier" %}</a>
	{% else %}
		<a class="button" href="{% url 'public-company-profiles-list' %}">{% trans "Browse UK companies" %}</a>
	{% endif %}
</div>