{% extends './govuk_layout.html' %}

{% load static from staticfiles %}
{% load trans from i18n %}

{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block meta_description %}{% trans "Facts and figures about about the UK's strongest sectors and industries" %}{% endblock %}
{% block head_title %}{% trans "The UK's strongest industrial sectors - trade.great.gov.uk" %}{% endblock %}

{% block css_layout_class %}
fas-industries-content
{% endblock %}

{% block hero_title %}
{% trans "Discover the UK's capability in these key industries" %}
{% endblock %}

{% block content %}
<div class="container">
	<section id="intro">
		<h2 class="section-header">{% trans "UK industries" %}</h2>
		<p>
			{% trans "As a decision-maker in an international business you need look no further than the UK for innovative, high-quality products and services. It is the place to make the right trade connections with major corporations and smaller enterprises across every sector of industry." %}
		</p>
		<p>
			{% trans "We can help you make vital business connections with ideal companies. Choose from the businesses in these UK industries to work with you." %}
		</p>
	</section>
	
	{% include 'industry-teasers.html' %}	
	{% include 'search-companies.html' %}
	{% include 'lead-generation-form.html' with form=lead_generation.form %}
</div>
{% endblock content %}
