{% load static from staticfiles %}
{% static 'govuk-0.18.0/assets/images/opengraph-image.png' as DEFAULT_IMAGE %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@tradegovuk" />

<meta property="og:image" content="{{ social.image|default:DEFAULT_IMAGE}}" />
<meta property="og:type" content="website" />
{% if social.title %}
	<meta property="og:title" content="{{ social.title }}" />
{% endif %}
{% if social.description %}
	<meta property="og:description" content="{{ social.description }}" />
{% endif %}
