@import 'partials/reset';
@import 'partials/base';
@import 'partials/colours';

.breadcrumbs {
  margin-top: -30px;
  padding-top: 0;
}

#hero {
  form {
    padding: 15px;
    @media (min-width: 641px) {
      display: flex;
      padding: 30px;
    }
    background-color: $offwhite;
    margin-bottom: 60px;

    .form-group {
      background-color: white;
      display: inline-block;
      margin-bottom: 0;
      input {
        width: 100%;
      }
      width: 100%;
    }

    button {
      margin-top: 15px;
      margin-bottom: 0;
      @media (min-width: 641px) {
        margin-top: 0;
        margin-left: 15px;
      }
    }

    input, button {
      height: 60px;
      vertical-align: bottom;
    }

  }
}


#benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  h2 {
    margin-bottom: 15px;
    margin-top: 0;
  }
  ul {
    li {
      h3 {
        margin-bottom: 10px;
      }
    }
  }
}

#bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  h2 {
    margin-top: 0;
  }
  ul {
    li {
      margin-bottom: 10px;
    }
  }
}
