@import 'partials/reset';
@import 'partials/base';
@import 'components/articles-container';

$gray: #333333;
$gray-light: #767676;
$off-white: rgba(250, 250, 250, 0.8);
$white: #ffffff;
$blue: #006ccc;
$sand: #f5f2ed;

#search-area,
#industries-container,
#services-container {
  .button {
    background-color: $blue;
    height: 48px;
    line-height: 48px;
    padding-top: 0;
    color: white;
    font-weight: bold;
    font-size: 19px;
  }
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 15px;
}

section {
  border: none;
}

.grid-row {
  margin: 0 -25px;
}

#hero {
  background-size: 1200px 450px;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  margin-bottom: 60px;
  padding-top: 40px;
  .hero-teaser {
    max-width: 470px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.15;
  }
  p {
    font-size: 19px;
    line-height: 1.63;
  }
  .container {
    padding-bottom: 60px;
  }
  #search-area {
    background-color: $off-white;
    padding: 30px;
    div {
      margin: 0;
      padding: 0;
    }
    input, select {
      width: 100%;
      border-right-width: 0;
      height: 48px;
      background-color: white;
    }
  }
  input, select {
    color: $gray;
  }
}

body.bidi {
  #hero {
    #search-area {
      select {
        direction: rtl;
        padding-right: 40px;
      }
      input, select {
        border-left-width: 0;
        border-right-width: 2px;
      }
    }
  }
}

#introduction {
  .grid-row {
    margin: 0;
  }
  .column-one-half {
    padding: 0;
  }
  h2 {
    color: $gray;
  }
  p {
    color: gray-light;
    font-size: 19px;
    line-height: 1.58;
    color: $gray-light;
  }
  a {
    text-align: center;
    margin-top: 15%;
    width: 350px;
    height: 60px;
    padding: 0;
    line-height: 60px;
  }
  .button-container {
    text-align: center;
  }
}


#industries-container {
  background-color: $sand;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
  h2 {
    color: $gray;
    margin-bottom: 60px;
  }
  span {
    background-color: $blue;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.39;
    color: white;
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 100%;
  }
  .grid-row {
      margin-left: -20px;
  }
  .industry-card {
    margin-bottom: 30px;
    text-decoration: none;
    color: $gray;
    p {
      margin-top: -5px;
      background: white;
      padding: 30px 20px;
      font-size: 19px;
      line-height: 1.53;
    }
  }
  .button {
    margin-top: 30px;
  }
}


#services-container {
  padding-top: 60px;  

  h2 {
    color: $gray;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: $gray;
  }
  p {
    color: gray-light;
    font-size: 19px;
    line-height: 1.58;
    color: $gray-light;
    margin-bottom: 60px;
  }
  img {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  .image-container {
    min-height: 100px;
  }
}

#articles-container {
  margin-top: 0;
  .container {
    padding-top: 60px;
    padding-left: 40px;
    background-color: $sand;
  }
}

@media (max-width: 769px) {
  #hero {
    .container {
      padding: 10px;
    }
    #search-area {
      padding: 10px;
      select {
        display: none;
      }
    }
  }
  #introduction {
    .button {
      width: 100%;
    }
  }
  #industries-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    h2 {
      margin-bottom: 30px;
    }
    .grid-row {
      margin: 0;
      a {
        display: block;
        padding-left: 0;
        padding-right: 0;
        p {
          padding: 20px;
        }
      }
    }
  }
  #services-container {
    padding: 30px;
    padding-bottom: 0;
    p {
      font-size: 19px;
    }
    .image-container {
      float: left;
      margin-right: 15px;
    }
  }

  #articles-container {
    .container {
      padding: 30px;
    }
  }
}
