{% extends 'core/base.html' %}
{% load staticfiles %}
{% load breadcrumbs render_form from directory_components_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'core/investment-support-directory-home.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section id="hero" class="hero background-light-blue">
        <div class="container">
            {% breadcrumbs left_url='/' left_label='Home' right_label='UK support directory' %}
            <div class="width-two-thirds">
                <h1 class="heading-xlarge margin-bottom-0">Find a UK business</h1>              
                <p class="hero-subtitle margin-bottom-45">Use the UK Investment Support directory to find experienced businesses that have proven experience and skills in helping foreign firms establish or expand in the UK.</p>  
            </div>
            <form method="post">
                {% render_form form %}
                <button class="button">Find a UK business</button>
            </form>
        </div>
    </section>

    <div id="benefits">
        <div class="container">
            <div class="width-half">
                <h2 class="heading-large">UK Investment Support Directory </h2>
            </div>
            <section class="grid-row">
                <div class="column-one-third">
                    <ul>
                        <li>
                            <h3 class="heading-medium">Search for experienced advice</h3>
                            <p>The UK Investment Support Directory is a collection of businesses that have proven skills and experience in helping foreign companies establish or expand in the UK.</p>
                        </li>
                        <li>
                            <h3 class="heading-medium">Find the right help</h3>
                            <p>You can search the directory to find the right specialist to meet your needs. For example, find businesses with expertise and knowledge of different UK regions, in UK tax and employment law, or in UK visas and immigration.</p>
                        </li>
                        <li>
                            <h3 class="heading-medium">Get in touch</h3>
                            <p>When you’ve found your specialist, use the contact option in this service to get an hour’s free advice.</p>
                        </li>
                    </ul>
                </div>
                <div class="column-two-thirds">
                    &nbsp;
                </div>
            </section>
        </div>
    </div>
    <div class="background-stone-30" id="bottom">
        <div class="container">
            <div class="width-one-half">
                <h2 class="heading-large">How UK businesses can help</h2>
                <p id="create-business-profile-label-bottom">These are some of the specialist skills and knowledge our experienced businesses can provide. </p>
            </div>
            <div class="grid-row">
                <ul class="column-one-third">
                    <h3 class="heading-medium">Financial</h3>
                    {% for choice in CHOICES_FINANCIAL %}
                        <li><a href="{% url 'investment-support-directory-search' %}?expertise_products_services_financial={{ choice }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Management consulting</h3>
                    {% for choice in CHOICES_MANAGEMENT_CONSULTING %}
                        <li><a href="{% url 'investment-support-directory-search' %}?expertise_products_services_management={{ choice}}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Human resources and recruitment</h3>
                    {% for choice in CHOICES_HUMAN_RESOURCES %}
                        <li><a href="{% url 'investment-support-directory-search' %}?expertise_products_services_human_resources={{ choice }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid-row">
                <ul class="column-one-third">
                    <h3 class="heading-medium">Legal</h3>
                    {% for choice in CHOICES_LEGAL %}
                        <li><a href="{% url 'investment-support-directory-search' %}?expertise_products_services_legal={{ choice }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Publicity and communications</h3>
                    {% for choice in CHOICES_PUBLICITY %}
                        <li><a href="{% url 'investment-support-directory-search' %}?expertise_products_services_publicity={{ choice }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="column-one-third">
                    <h3 class="heading-medium">Business support</h3>
                    {% for choice in CHOICES_FURTHER_SERVICES %}
                        <li><a href="{% url 'investment-support-directory-search' %}?expertise_products_services_further_services={{ choice }}" class="link">{{ choice }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
