{% extends './govuk_layout.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block css %}
	<link href="{% static 'landing-page-bidi.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block css_layout_class %}
fas-home-content
{% endblock %}

{% block hero_title %}
{% trans "Welcome to Great Britain and Northern Ireland - the right place to do business" %}
{% endblock %}

{% block content %}
<div class="container">
	<div id="intro" class="row-fluid">
		<div class="span8">
			<h2 class="section-header">{% trans "Find UK companies to do business with" %}</h2>
			<p>
				{% trans "The UK is a great place to find innovative, high-quality products and services." %} 
				{% trans "You can make the right trade connections in the UK with global corporations and smaller enterprises across every industry." %}
			</p>
			<p>
				{% trans "UK companies work with businesses and governments around the world to run high quality services and deliver the best experiences." %} 
				{% trans "When you need a trade partner, the reliability and expertise of UK companies is hard to beat." %}
			</p>
			<p>
				{% trans "Choose from the hundreds of businesses in the UK to work with you today." %}
			</p>
		</div>
		<div class="span4">
			{% include 'search-companies.html' %}
		</div>
	</div>

	<section id="industries">
		<h2 class="section-header">{% trans "UK industries" %}</h2>
		<article class="industry" id="industry-1">
			<h3 class="title">{% trans "Healthcare and life sciences in the UK" %}</h3>
			<img src="{% static 'images/fas-industry-health.png' %}" alt="" />
			<p class="text">
				{% trans "Get access to the UK health and life sciences supply-chain, delivering high quality, innovative services to the world." %}
			</p>
			<a class="more" href="{% url 'sector-detail-summary' slug='health' %}">
				{% trans "Find out more about the UK’s healthcare and life sciences" %}
			</a>
		</article>
		
		<article class="industry" id="industry-2">
			<h3 class="title">{% trans "The UK's advanced technology" %}</h3>
			<img src="{% static 'images/fas-industry-technology.png' %}" alt="" />
			<p class="text">
				{% trans "Check out the cutting-edge technologies that the UK is bringing to the world." %}
			</p>
			<a class="more" href="{% url 'sector-detail-summary' slug='tech' %}">
				{% trans "Find out more about UK technology" %}
			</a>
		</article>
		
		<span id="industry-design-break-for-tablet-only"></span>
		
		<article class="industry" id="industry-3">
			<h3 class="title">{% trans "The UK's creative services" %}</h3>
			<img src="{% static 'images/fas-industry-creative.png' %}" alt="" />
			<p class="text">
				{% trans "Whether you need buildings designed, films made or a fresh approach to marketing, the UK is the first place to look." %}
			</p>
			<a class="more" href="{% url 'sector-detail-summary' slug='creative' %}">
				{% trans "Find out more about the UK’s creative services" %}
			</a>
		</article>
		
		<article class="industry" id="industry-4">
			<h3 class="title">{% trans "The UK's food and drink" %}</h3>
			<img src="{% static 'images/fas-industry-food.png' %}" alt="" />
			<p class="text">
				{% trans "Whether you want the best food brands or exceptional quality drinks, the UK is the first place to look." %}
			</p>
			<a class="more" href="{% url 'sector-detail-summary' slug='food-and-drink' %}">
				{% trans "Find out more about UK food and drink" %}
			</a>
		</article>
	</section>
	
	{% if features.FEATURE_MORE_INDUSTRIES_BUTTON_ENABLED %}
		<div class="ed-landing-page-gap">
			<a class="ed-naked-button-primary" href="{% url 'sector-list' %}">{% trans "See more industries" %}</a>
		</div>
	{% endif %}

	{% include 'search-companies.html' %}

</div>
{% endblock content %}
