{% load trans from i18n %}
<div class="ed-landing-page-form-container">
	<div class="ed-landing-page-form-inner">
		<h2 class="element-within title">
			<span class="dont-break-out">{% trans "Get UK companies to fulfil your business needs" %}</span>
		</h2>
		<div>
			{% trans "Tell us what kind of goods or services you need. We'll put you in touch with relevant UK suppliers." %}
		</div>
		<div class="row-fluid">
			<form action="{% url 'lead-generation' %}" method="post" style="margin-top: 30px;">
				<div class="row-fluid">
					<div class="span6">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							<label for="{{ form.full_name.id_for_label }}">
								{{ form.full_name.errors }}
								<span>{% trans form.full_name.label %}</span>
								{{ form.full_name }}
							</label>
						</div>
					</div>

					<div class="span6">
						<div class="{{ form.email_address.css_classes|default:'input-field-container' }}">
							<label for="{{ form.email_address.id_for_label }}">
								{{ form.email_address.errors }}
								<span>{% trans form.email_address.label %}</span>
								{{ form.email_address }}
							</label>
						</div>
					</div>

				</div>

				<div class="row-fluid">
					<div class="span6">
						<div class="{{ form.company_name.css_classes|default:'input-field-container' }}">
							<label for="{{ form.company_name.id_for_label }}">
								{{ form.company_name.errors }}
								<span>{% trans form.company_name.label %}</span>
								{{ form.company_name }}
							</label>
						</div>
					</div>

					<div class="span6">
						<div class="{{ form.country.css_classes|default:'input-field-container' }}">
							<label for="{{ form.country.id_for_label }}">
								{{ form.country.errors }}
								<span>{% trans form.country.label %}</span>
								{{ form.country }}
							</label>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						<div class="{{ form.comment.css_classes|default:'input-field-container' }}">
							<label for="{{ form.comment.id_for_label }}">
								{{ form.comment.errors }}
								<span>{% trans form.comment.label %}</span>
								{{ form.comment }}
								<span class="helptext">{% trans form.comment.help_text %}</span>
							</label>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span10 ed-checkbox-container {{ form.terms.css_classes|default:'input-field-container' }}">
						{{ form.terms.errors }}
						<div class="field checkbox">
							<input id="{{ form.terms.id_for_label }}" name="{{ form.terms.html_name }}" type="checkbox">
							<label for="{{ form.terms.id_for_label }}">
								<a target="_blank" href="{% url 'terms-and-conditions' %}">{% trans "I agree to the great.gov.uk terms and conditions" %}</a>.
							</label>
						</div>
					</div>
					<div class="span2 btn-container ed-landing-page-register-button-container">
						<button class="button-primary">
							{% trans "Send" %}
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
