{% extends 'base.html' %}

{% load static from staticfiles %}
{% load trans from i18n %}

{% block css %}
	<link href="{% static 'landing-page-bidi.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block css_layout_class %}
fas-industries-content
{% endblock %}

{% block hero_title_container %}
	<div id="hero-event-details">
		<h1 class="ed-hero-sub-header-title">{% trans "Discover the UK's capability in these key industries" %}</h1>
	</div>
{% endblock %}
{% block hero_image_extra_attrs %}
	style="padding-top: 165px; background-image:url('{% static "images/covers/miro-rtl.jpg" %}');"
{% endblock %}

{% block content %}
<div class="container">
	<div id="intro">
		<h2 class="section-header">{% trans "UK industries" %}</h2>
		<p>
			{% trans "As a decision-maker in an international business you need look no further than the UK for innovative, high-quality products and services. It is the place to make the right trade connections with major corporations and smaller enterprises across every sector of industry." %}
		</p>
		<p>
			{% trans "We can help you make vital business connections with ideal companies. Choose from the businesses in these UK industries to work with you." %}
		</p>
	</div>

	{% include 'industry-teasers.html' %}
	{% include 'search-companies.html' %}
	{% include 'bidi/lead-generation-form.html' with form=lead_generation.form %}
</div>
{% endblock content %}
