{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load search_url from company_tags %}
{% load add_anchors table_of_contents from cms_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'industry/industry-article.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <p class="breadcrumbs">
            <span class="label verbose bidi-ltr">You are here:</span>
            <a href="/" class="bidi-rtl">Home</a>
            <span class="separator">,</span>
            <span class="current bidi-rtl">Industry content</span>
        </p>
    </div>
</div>

<div class="container bidi-rtl" id="industry-article-container">
    <section class="grid-row">
        <div class="column-one-quarter" id="table-of-contents">
            <h3>Contents:</h3>
            <ul>
                <li><a class="link" href="#introduction">Introduction</a></li>
                {% for anchor_id, label in page.body|table_of_contents %}
                    <li><a class="link" href="#{{ anchor_id }}">{{ label }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="column-one-half">
            <h1 id="introduction" class="h1">{{ page.introduction_title }}</h1>
            {{ page.body|add_anchors|safe }}
            <br>
            <br>
            <p>Back to <a class="link" href="{% url 'index' %}">home</a></p>
            <br>
            <br>
            <div>
                {% include 'directory_components/social_share_links.html' %}
            </div>
        </div>
        <div class="column-one-quarter" id="contact-area">
            Tell us what products or services you're looking for and we'll find the best UK suppliers for you.
            <a href="{{ directory_components_urls.contact_us }}" class="button">Contact us</a>
        </div>
        
    </section>
</div>
{% endblock content %}

{% block feedback_reporter %}{% endblock %}
