{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load search_url from company_tags %}
{% load add_anchors add_export_elements_classes table_of_contents add_href_target from cms_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'industry/industry-article.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <p class="breadcrumbs">
            <span class="label verbose bidi-ltr">You are here:</span>
            <a href="/" class="bidi-rtl">{{ page.breadcrumbs.landingpage.label }}</a>
            <span class="separator">,</span>
            <span class="current bidi-rtl">{{ page.breadcrumbs_label }}</span>
        </p>
    </div>
</div>

<div class="container bidi-rtl" id="industry-article-container">
    <section class="grid-row">
        <div class="column-one-quarter {% if not page.show_table_of_content %}hidden{% endif %}" id="table-of-contents">
            <h3>Contents:</h3>
            <ul>
                <li><a class="link" href="#introduction">Introduction</a></li>
                {% for anchor_id, label in page.body|table_of_contents %}
                    <li><a class="link" href="#{{ anchor_id }}">{{ label }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="column-one-half">
            <h1 id="introduction" class="h1">{{ page.introduction_title }}</h1>
            {{ page.body|add_export_elements_classes|add_anchors|add_href_target:request|safe }}
            <br>
            <br>
            <p><a class="link" href="{% url 'index' %}">{{ page.back_to_home_link_text }}</a></p>
            <br>
            <br>
            <div>
                {% include 'directory_components/social_share_links.html' with social_share_title=page.social_share_title %}
            </div>
        </div>
        <div class="column-one-quarter" id="contact-area">
            {{ page.proposition_text|add_export_elements_classes|add_href_target:request|safe }}
            <a href="{% url 'sector-list-cms-contact' %}" class="button">{{ page.call_to_action_text }}</a>
        </div>
        
    </section>
</div>
{% endblock content %}

{% block feedback_reporter %}{% endblock %}
