{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load search_url from industry_tags %}
{% load add_href_target from cms_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'industry/industry.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<section id="hero">
    <div class="container">
        <div class="hero-teaser">
            {{ page.hero_text|add_href_target:request|safe }}
        </div>
        <div class="image-caption">{{ page.hero_image_caption }}</div>
    </div>
</section>

<div>
    <div class="container">
        <p class="breadcrumbs">
            <span class="label verbose">You are here:</span>
            <a href="{% url 'index' %}">{{ page.breadcrumbs.landingpage.label }}</a>
            <span class="separator">,</span>
            <a href="{% url 'sector-list' %}">{{ page.breadcrumbs.industrylandingpage.label }}</a>
            <span class="separator">,</span>
            <span class="current">{{ page.breadcrumbs_label }}</span>
        </p>
    </div>
</div>

<section id="lede-section" class="grid-row container">
    <div class="container">
        <h2 class="heading-large">{{ page.introduction_text }}</h2>
        <a href="{% url 'sector-detail-cms-contact' slug=page.meta.slug %}" class="button button-primary">
            {{ page.introduction_call_to_action_button_text }}
        </a>
    </div>
</section>

<section id="lede-columns-section">
    <div class="container">
        <h2 class="heading-large">{{ page.introduction_title }}</h2>
        <div class="grid-row">
            <div class="column-one-third">
                <img src="{{ page.introduction_column_one_icon.url}}" />
                <div>{{ page.introduction_column_one_text|add_href_target:request|safe }}</div>
            </div>
            <div class="column-one-third">
                <img src="{{ page.introduction_column_two_icon.url }}" />
                <div>{{ page.introduction_column_two_text|add_href_target:request|safe }}</div>
            </div>
            <div class="column-one-third">
                <img src="{{ page.introduction_column_three_icon.url }}" />
                <div>{{ page.introduction_column_three_text|add_href_target:request|safe }}</div>
            </div>
        </div>
    </div>
</section>

<section id="companies-section">
    <div class="container">
        <div id="companies-list-text">
            {{ page.company_list_text|add_href_target:request|safe }}
            <p>{{ page.company_list_search_input_placeholder_text }}</p>
        </div>
        <div class="grid-row">
            <div class="column-one-half">
                <form method="get" action="{% url 'find-a-supplier:search' %}">
                    {% for value in page.search_filter_sector %}
                        <input type="hidden" value="{{ value }}" name="sectors" />
                    {% endfor %}
                    <input type="text" name="term" class="form-control" />
                    <button style="background-image: url({% static 'industry/images/search.svg' %});" type="submit" class="button"></button>
                </form>
            </div>
        </div>
        {% if companies %}
            <ul>
            {% for company in companies %}
                <li>
                    <div>
                        <img src="{{ company.logo }}"></img>
                    </div>
                    <dl>
                        <dt><a href="{% url 'find-a-supplier:profile' company_number=company.number slug=company.slug %}/" class="link">{{ company.name }}</a></dt>
                        {% with company.summary|default:company.description as summary %}
                            <dd>{{ summary|truncatechars:180 }}</dd>
                        {% endwith %}
                    </dl>
                </li>
            {% endfor %}
            </ul>
            <div>
                <a href="{% search_url sector_value=page.search_filter_sector term=page.search_filter_text %}" class="button">{{ page.company_list_call_to_action_text }} </a>
            </div>
        {% endif %}
    </div>
</section>

{% if page.article_summaries %}
    <section id="articles-section">
        <div class="container">
            {% for article in page.article_summaries %}
                {% include "industry/sector-article-summary.html" with article=article %}
            {% endfor %}
        </div>
    </section>
{% endif %}

{% endblock content %}

{% block feedback_reporter %}{% endblock %}
