{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load search_url from company_tags %}
{% load add_href_target from cms_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'industry/industry.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<section id="hero" style="background-image: url({{ page.hero_image.url }});">
    <div class="container">
        <div class="hero-teaser bidi-rtl">
            {{ page.hero_text|add_href_target:request|safe }}
        </div>
    </div>
</section>

<div>
    <div class="container">
        <p class="breadcrumbs">
            <span class="label verbose bidi-ltr">You are here:</span>
            <a href="/" class="bidi-rtl">{{ page.breadcrumbs.landingpage.label }}</a>
            <span class="separator">,</span>
            <a href="{% url 'sector-list' %}" class="bidi-rtl">{{ page.breadcrumbs.industrylandingpage.label }}</a>
            <span class="separator">,</span>
            <span class="current bidi-rtl">{{ page.breadcrumbs_label }}</span>
        </p>
    </div>
</div>

<div class="container">
    <section id="lede" class="grid-row">
        <h2 class="heading-large bidi-rtl">{{ page.introduction_text }}</h2>
        <a href="{% url 'sector-detail-cms-contact' cms_page_id=page.meta.pk slug=page.meta.slug %}" class="button button-primary bidi-rtl">
            {{ page.introduction_call_to_action_button_text }}
        </a>
    </section>

    <section id="lede-columns" class="grid-row">
        <div class="column-one-third">
            <img class="bidi-ltr" src="{{ page.introduction_column_two_icon.url}}" />
            <div class="bidi-rtl">{{ page.introduction_column_one_text|add_href_target:request|safe }}</div>
        </div>
        <div class="column-one-third">
            <img class="bidi-ltr" src="{{ page.introduction_column_one_icon.url }}" />
            <div class="bidi-rtl">{{ page.introduction_column_two_text|add_href_target:request|safe }}</div>
        </div>
        <div class="column-one-third">
            <img class="bidi-ltr" src="{{ page.introduction_column_three_icon.url }}" />
            <div class="bidi-rtl">{{ page.introduction_column_three_text|add_href_target:request|safe }}</div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section id="companies">
        <div class="bidi-rtl" id="companies-list-text">{{ page.company_list_text|add_href_target:request|safe }}</div>
        <div class="grid-row">
            <div class="column-one-half">
                <form method="get" action="{% url 'company-search' %}">
                    {% for value in page.search_filter_sector %}
                        <input type="hidden" value="{{ value }}" name="sectors" />
                    {% endfor %}
                    <input type="text" name="term" class="form-control" placeholder="{{ page.company_list_search_input_placeholder_text }}" />
                    <button type="submit" class="button bidi-rtl"></button>
                </form>
            </div>
        </div>
        
        <ul class="grid-row">
        {% for company in companies %}
            <div class="column-one-half">
                <li>
                    <div>
                        <img src="{{ company.logo }}"></img>
                    </div>
                    <dl class="bidi-rtl">
                        <dt><a href="{{ company.public_profile_url }}" class="link">{{ company.name }}</a></dt>
                        <dd>{{ company.summary|default:company.description|truncatechars:150 }}</dd>
                    </dl>
                </li>
            </div>
        {% endfor %}
        </ul>
        <div>
            <a href="{% search_url sector_value=page.search_filter_sector %}" class="button bidi-rtl">{{ page.company_list_call_to_action_text }} </a>
        </div>
    </section>

    <section id="articles-container" class="container">
        {% for article in page.article_summaries %}
            {% include "industry/sector-article-summary.html" with article=article %}
        {% endfor %}
    </section>

</div>
{% endblock content %}

{% block feedback_reporter %}{% endblock %}
