{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load grouper from cms_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'industry/industry-list.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="hero">
    <div class="container">
        <h1 class="hero-teaser">{{ page.hero_title }}</h1>
        <div class="image-caption">{{ page.hero_image_caption }}</div>
    </div>
</div>

<div>
    <div class="container">
        <p class="breadcrumbs">
            <span class="label verbose">You are here:</span>
            <a href="{% url 'index' %}">{{ page.breadcrumbs.landingpage.label }}</a>
            <span class="separator">,</span>
            <span class="current">{{ page.breadcrumbs_label }}</span>
        </p>
    </div>
</div>

<div class="container" id="introduction">
    <div class="column-one-half">
        <p>
            {{ page.proposition_text }}
        </p>
    </div>
    <div class="column-one-half">
        <a href="{% url 'sector-list-cms-contact' %}" class="button button-primary">{{ page.call_to_action_text }}</a>
    </div>
    <span class="clearfix"></span>
</div>

<div class="container" id="industry-pages-container">
    {% for row in showcase_industries|grouper:3 %}
        <section class="grid-row">
            {% for item in row %}
                <a href="{{ item.meta.url }}" class="column-one-third">
                    <span>{{ item.breadcrumbs_label }}</span>
                    <img src="{{ item.summary_image.url }}" />
                </a>
            {% endfor %}
        </section>
    {% endfor %}

    <h3 class="heading-medium">{{ page.more_industries_title }}</h3>
    <ul>
    {% for item in page.industries %}
        <li><a class="link" href="{{ item.meta.url }}">{{ item.breadcrumbs_label }}</a></li>
    {% endfor %}
    </ul>
</div>

    </section>
</div>
{% endblock content %}

{% block feedback_reporter %}{% endblock %}
