{% load add_export_elements_classes from cms_tags %}
<article class="grid-row">
    <div class="column-one-half article-image-container">
        {% if article.image %}
            <img src="{{ article.image.url }}" />
        {% elif article.video %}
            {{ article.video|safe }}
        {% endif %}
    </div>
    <div class="column-one-half bidi-rtl">
        <div class="article-meta">
            <span>{{ article.industry_name }}</span>
        </div>
        <h2>{{ article.title }}</h2>
        {{ article.body|add_export_elements_classes|safe }}
    </div>
</article>
