$asset-path: '../';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

@import 'mixins.scss';
@import 'partials/bidi.scss';
@import 'components/header-footer';
@import 'components/language-switcher';
@import 'variables.scss';
@import 'main-tablet.scss';
@import 'main-mobile.scss';

body,
a {
  font-family: arial,helvetica,sans-serif!important;
}

#content {
  padding-top: 0;
}

.container {
    padding: 0 30px;
    max-width: 1200px;
    width: 100%;
}

@media (max-width: 641px) {
  .container {
    margin-left: 0px;
  }

  body.js-enabled #menu {
      display: none;
  }
  #menu-control {
    display: none;
  }
  body.js-enabled #menu-control {
    display: block;
  }
  .ed-language-switcher select, .ed-language-switcher p {
    color: black;
  }

  body.js-enabled .ed-language-switcher select, .ed-language-switcher p {
    color: white;
  }

  .ed-language-switcher {
      float: left;
      margin-top: 15px;
  }

  body.js-enabled .ed-language-switcher {
    float: right;
    margin-top: 5px;
  }
}

.screen-reader-only { 
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// The 'a11y' class is a CSS technique for preventing text
// from visually rendering on-screen but still being available for screen readers.
.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js-enabled {
  .ed-language-switcher {
    button {
      display: none;
    }
  }
}
