{% extends 'enrolment-base.html' %}
{% load staticfiles %}

{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block content %}
	<div class="container ed-international-success-container">
		<h1>Message sent</h1>
		<div class="ed-international-success-synopsis">
			<p>
				Your message has been sent to {{ company.name }}.
			</p>
			<p>
				<a href="{% url 'public-company-profiles-list' %}">Browse more companies</a>
			</p>
		</div>
	</div>
{% endblock content %}

{% block bodyScripts %}
<script type="text/javascript">
  if (window.ga) {
    window.ga('set', 'page', '/suppliers/{{company.number}}/contact/sent');
    window.ga('send', 'pageview');
  }
</script>
{% endblock bodyScripts %}
