{% extends 'govuk_layout.html' %}
{% load static from staticfiles %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}Find a Buyer{% endblock %}
{% block sub_header %}{% endblock %}
{% block content %}
<div class="container">
	<div class="company-profile-details-body">
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">{{company.name}}</span>
				</h1>
			</div>
		</div>

		<div class="row-fluid company-profile-module-container">
			<div class="span3 company-logo company-profile-module-inner">
				<div class="logo-container">
					<div>
						<div class="ed-company-profile-logo-container">	
							{% if company.logo %}
								<img src="{{company.logo}}" alt="Company logo" />
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="span5 company-profile-module-inner">
				<h3>Contact</h3>
				{% if company.email_address %}
					<p>
						{% if features.FEATURE_CONTACT_COMPANY_FORM_ENABLED %}
							<a class="ga-tracking-contact-supplier" href="{% url 'contact-company' company_number=company.number %}">Email company</a>
						{% else %}
							<a class="ga-tracking-contact-supplier" href="mailto:{{ company.email_address }}?subject=International%20buyer%20contact%20via%20your%20great.gov.uk%20trade%20profile">Email company</a>
						{% endif %}
					</p>
				{% endif %}
				{% if company.website %}
					<p>
						<a href="{{ company.website}}">{{ company.website }}</a>
					</p>
				{% endif %}
			</div>

			<div class="span4 company-profile-module-inner" style="border-left: 1px solid #dedede;">
				<h3>Facts &amp details</h3>
				{% if company.date_of_creation %}
					<p>Incorporated in: <b>{{company.date_of_creation|date:'Y'}}</b></p>
				{% endif %}
				<p>Company number: <b>{{company.number}}</b></p>
				<p>Number of employees: <b>{{ company.employees|default:'N/A' }}</b></p>
			</div>
		</div>

		<div class="row-fluid company-profile-module-container">

			<div class="{{company.has_social_links|yesno:'span8,span12'}} company-profile-module-inner">
				<h3>Company description</h3>

				{% if show_description %}
					<p>
						{{ company.description }}
					</p>
				{% else %}
					<p>
						{% if company.summary %}
							{{ company.summary }}
						{% elif company.description %}
							{{ company.description|truncatechars:200 }}
						{% endif %}
						{# reload current page with querystring #}
						<a href="?verbose=true">Read full company profile</a>
					</p>
				{% endif %}
			</div>

			{% if company.has_social_links %}
				<div class="span4 company-profile-module-inner company-profile-module-social-links">
					<h3>Online profiles</h3>
					{% if company.linkedin_url %}
					<p>
						<img class="ed-social-icon" src="/static/images/icon-linkedin-white.png" alt="" />
						<span>
							<a href="{{ company.linkedin_url }}" target="_blank">Visit LinkedIn</a>
						</span>
					</p>
					{% endif %}
					{% if company.twitter_url %}
					<p>
						<img class="ed-social-icon" src="/static/images/icon-twitter.png" alt="" />
						<span>
							<a href="{{ company.twitter_url }}" target="_blank">Visit Twitter</a>
						</span>
					</p>
					{% endif %}
					{% if company.facebook_url %}
					<p>
						<img class="ed-social-icon" src="/static/images/icon-facebook-white.png" alt="">
						<span>
							<a href="{{ company.facebook_url }}" target="_blank">Visit Facebook</a>
						</span>
					</p>
					{% endif %}
				</div>
			{% endif %}

		</div>

		{% if company.supplier_case_studies %}
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h2 class="element-within company-name-title">
					<span class="dont-break-out">Recent projects</span>
				</h2>
			</div>
		</div>
		<div class="ed-company-profile-sector-case-study-container">
			{% for case_study in company.supplier_case_studies %}
				<div class="row-fluid company-profile-module-container" style="margin-bottom: 0; border-top: 0;">
					<div class="span12 company-profile-module-inner">
						<h3>{{ case_study.title }}</h3>
						<div class="supplier-case-study-images">
							{% if case_study.image_one %}
							<img src="{{ case_study.image_one }}" alt="case study image 1"/>
							{% elif case_study.image_two %}
							<img src="{{ case_study.image_two }}" alt="case study image 2" />
							{% elif case_study.image_three %}
							<img src="{{ case_study.image_three }}" alt="case study image 3" />
							{% endif %}
						</div>

						<div class="row-fluid ed-company-profile-sector-case-study-inner">
							<div class="{{case_study.testimonial|yesno:'span4,span8'}}">
								<p>{{ case_study.short_summary }}</p>

								<p class="supplier-case-study-read-more-cta">
									<a href="{% url 'case-study-details' id=case_study.pk %}">Read case study</a>
								</p>
							</div>
							{% if case_study.testimonial %}
								<div class="span4 ed-arrow_box ed-company-profile-case-study-testomonial-container">
									<p class="ed-company-profile-sector-synopsis">
										<b>"{{ case_study.testimonial }}"</b>
									</p>
									<div>{{ case_study.testimonial_name }}</div>
									<div>{{ case_study.testimonial_company }}</div>
								</div>
							{% endif %}
							<div class="span4 ed-company-profile-case-study-company-details">
								<p>
									<b>{{ company.name }}</b>
								</p>
								<p>
									<span>Incorporated: </span>{{ company.date_of_creation|date:'Y' }}
								</p>
								<p>
									<span>Industry: </span>
									<a href="{% url 'public-company-profiles-list' %}?sectors={{ case_study.sector.value }}">{{ case_study.sector.label }}</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		{% endif %}

		<div class="ed-special-bottom-border">
			<div class="row-fluid company-profile-module-container" style="margin-bottom: 0; border-bottom: 0;">
				<div class="span6">
					<div style="margin-bottom: 0;">
						<div class="company-profile-module-inner ">
							<h3>Industries of interest</h3>
							<p>
							{% for sector in company.sectors %}
								<span class="label stone-label">
									<a href="{% url 'public-company-profiles-list' %}?sectors={{ sector.value }}">{{ sector.label }}</a>
								</span>
							{% endfor %}
							</p>
							{% if company.sectors %}
							<div class="description-content"></div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="span6">
					<div style="margin-bottom: 0;">
						<div class=" company-profile-module-inner">
							<h3>Keywords</h3>
							{% if company.keywords %}
								<p class="dont-break-out">{{company.keywords}}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row-fluid ed-report-profile-container">
		<div class="span6" style="padding-top: 25px;">
			<a href="mailto:help@digital.trade.gov.uk?subject=Report%20profile%20{{company.number}}">Report profile</a>
		</div>
		<div class="span6 pull-right" style="text-align: right;">
			{% if company.email_address %}
				{% if features.FEATURE_CONTACT_COMPANY_FORM_ENABLED %}
					<a class="ed-filled-button-primary ga-tracking-contact-supplier" href="{% url 'contact-company' company_number=company.number %}">Contact company</a>
				{% else %}
					<a class="ed-filled-button-primary ga-tracking-contact-supplier" href="mailto:{{ company.email_address }}?subject=International%20buyer%20contact%20via%20your%20great.gov.uk%20trade%20profile">Contact company</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
