{% extends 'govuk_layout.html' %}
{% load naturaltime from humanize %}
{% load staticfiles %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}Browse UK company trade profiles{% endblock %}
{% block sub_header %}
	<h1 class="screen-reader-only">Find a Supplier</h1>
	<div class="row-fluid public-company-profiles-search-form">
		<div class="container">
			<h2>Browse UK company profiles</h2>
			<div class="span12">
				<form action="" method="get">
					<div class="span12">
						<div class="input-field-container">
							<label for="{{ form.sectors.id_for_label }}">{{ form.sectors.label }}</label>
							{{ form.sectors }}
							<input class="register-btn button" type="submit" value="Find company">
						</div>
					</div>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="clearfix"></div>
	<div class="container">
		<div class="company-profile-details-body">
			<div class="row-fluid company-profile-details-body-toolbar">
				<div class="span8">
					{% if companies %}
						{% if show_companies_count %}
							<span>Displaying {{ companies|length }} of {{ pagination.paginator.count }} {{ selected_sector_label }} {{pagination.paginator.count|pluralize:'company,companies'}}</span>
						{% else %}
							<span>Displaying {{ companies|length }} {{ selected_sector_label }} {{companies|length|pluralize:'company,companies'}}</span>
						{% endif %}
					{% else %}
						<span>No companies found</span>
					{% endif %}
				</div>
				<div class="span4" style="text-align: right;">
					{% include 'company-list-paginator.html' %}
				</div>
			</div>
			{% for company in companies %}
			<div class="public-company-profiles-result-item">
				<div class="row-fluid ">
					<!-- Company Logo area -->
					<div class="span2 company-logo">
						<div class="logo-container">
							<div class="logo">
								{% if company.logo %}
								<a class="no-focus-highlight" href="{% url 'public-company-profiles-detail' company_number=company.number slug=company.slug %}">
									<img src="{{company.logo}}" alt="Logo for {{ company.name }}" />
								</a>
								{% endif %}
								</a>
							</div>
						</div>
					</div>

					<div class="span6">
						<a class="no-focus-highlight" href="{% url 'public-company-profiles-detail' company_number=company.number slug=company.slug %}">
							<h3 class="ed-truncate-single-line">{{ company.name }}</h3>
						</a>
						{% if company.description or company.summary %}
							<div>
								<span>{{company.summary|default:company.description|truncatechars:135}}</span>
	                        </div>
	                    {% endif %}
						<div>
							<a href="{% url 'public-company-profiles-detail' company_number=company.number slug=company.slug %}" class="ed-public-company-profiles-result-item-profile-link">
                           view profile
                       		</a>
                       	</div>
					</div>
					<div class="span3">
						<p><b>At a glance</b><p>
						<div>
							{% if company.employees %}
								<div>
									Employees: {{company.employees}}
								</div>
							{% endif %}
							{% if company.date_of_creation %}
								<div>Date incorporated: {{ company.date_of_creation|date:'Y' }}</div>
							{% endif %}
							<i class="public-company-profiles-result-item-updated">Updated: {{ company.modified|naturaltime }}</i>
						</div>
					</div>

				</div>
			</div>
			{% endfor %}

			{% if companies %}
				<div class="row-fluid company-profile-details-body-toolbar company-profile-details-body-toolbar-bottom">
					<div class="offset8 span4" style="text-align: right;">
						{% include 'company-list-paginator.html' %}
					</div>
				</div>
			{% else %}
				<br>
			{% endif %}
		</div>
		{% include 'landing-page-international-form.html' with form=subscribe.form %}
	</div>
{% endblock %}
