{% extends 'enrolment-base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% block head_css %}
    {{ block.super }}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block meta_description %}{{ social.description|truncatechars:150|linebreaks }}{% endblock %}
{% block head_title %}{{company.name}}: trade profile{% endblock %}

{% block content %}
<div class="container company-profile-details-body">
	<div class="row-fluid">
		<div class="span12">
			<h1 class="company-name-title">{{company.name}}</h1>
		</div>
	</div>

	<section id="company-details" class="row-fluid">
		<div class="span2">
			{% thumbnail company.logo "230" as logo %}
				<img id="company-logo" src="{{ logo.url }}" alt=""/>
			{% empty %}
				<img id="company-logo" class="placeholder" src="{% static 'images/placeholder.png' %}" alt="" />
			{% endthumbnail %}
		</div>

		<div class="span6 company-profile-module-details">
			<h2>Contact</h2>
			{% if company.email_address %}
				<p><a class="ga-tracking-contact-supplier" href="{% url 'contact-company' company_number=company.number %}">Email company</a></p>
			{% endif %}
			{% if company.website %}
				<p>
					<span class="screen-reader-only">Company website</span>
					<a href="{{ company.website}}" target="_blank">{{ company.website }}</a>
				</p>
			{% endif %}
		</div>

		<div class="span4 company-profile-module-inner company-profile-module-facts">
			<h2>Facts &amp; details</h2>
			{% if company.is_in_companies_house %}
			<p>Company number: {{company.number}}</p>
			{% endif %}
			<p>Number of employees: {{ company.employees|default:'N/A' }}</p>
			{% if company.date_of_creation %}
				<p>Incorporated in: {{company.date_of_creation|date:'Y'}}</p>
			{% endif %}
		</div>
	</section>

	<section id="company-profiles" class="row-fluid">
		<div class="{{company.has_social_links|yesno:'span8,span12'}} company-profile-module-inner company-profile-module-description">
			<h2>Company description</h2>

			{% if show_description %}
				<p>
					{{ company.description|linebreaks }}
				</p>
			{% else %}
				{% if company.summary %}
					{{ company.summary|linebreaks }}
				{% elif company.description %}
					{{ company.description|truncatechars:200|linebreaks }}
				{% endif %}
				{# reload current page with querystring #}
				<p><a href="?verbose=true">Read full company profile</a></p>
			{% endif %}
		</div>

		{% if company.has_social_links %}
			<div class="span4 company-profile-module-inner company-profile-module-social-links">
				<h2>Online profiles</h2>
				{% if company.linkedin_url %}
					<p class="social-link">
						<img class="social-icon" src="{% static '/images/icon-linkedin-white.png' %}" alt="" />
						<a href="{{ company.linkedin_url }}" target="_blank">Visit LinkedIn</a>
					</p>
				{% endif %}
				{% if company.twitter_url %}
					<p class="social-link">
						<img class="social-icon" src="{% static '/images/icon-twitter.png' %}" alt="" />
						<a href="{{ company.twitter_url }}" target="_blank">Visit Twitter</a>
					</p>
				{% endif %}
				{% if company.facebook_url %}
					<p class="social-link">
						<img class="social-icon" src="{% static '/images/icon-facebook-white.png' %}" alt="">
						<a href="{{ company.facebook_url }}" target="_blank">Visit Facebook</a>
					</p>
				{% endif %}
			</div>
		{% endif %}

	</section>

	{% if company.supplier_case_studies %}
		<section id="company-projects" class="row-fluid ed-company-profile-sector-case-study-container">
			<h2 class="element-within">
				<span class="dont-break-out">Recent projects</span>
			</h2>
			
			{% for case_study in company.supplier_case_studies %}
			<article class="span4 case-study-{{ forloop.counter }}">
				{% if case_study.image_one %}
					{% thumbnail case_study.image_one "338" as image %}
						<img src="{{ image.url }}" alt="" aria-labelledby="case-study-title-{{ forloop.counter }}" />
					{% endthumbnail %}
				{% elif case_study.image_two %}
					{% thumbnail case_study.image_two "338" as image %}
						<img src="{{ image.url }}" alt="" aria-labelledby="case-study-title-{{ forloop.counter }}" />
					{% endthumbnail %}
				{% elif case_study.image_three %}
					{% thumbnail case_study.image_three "338" as image %}
						<img src="{{ image.url }}" alt="" aria-labelledby="case-study-title-{{ forloop.counter }}" />
					{% endthumbnail %}
				{% endif %}
				<h3 id="case-study-title-{{ forloop.counter }}" class="title">{{ case_study.title }}</h3>
				{{ case_study.short_summary|linebreaks }}
				<a class="more" href="{% url 'case-study-details' id=case_study.pk slug=case_study.slug %}">Read case study</a>
			</article>
			{% endfor %}
		</section>
	{% endif %}

	<section class="row-fluid ed-special-bottom-border">
		<div class="span6">
			<div class="company-profile-module-inner company-profile-industries">
				<h2>Core industry</h2>
				<p>
				{% for sector in company.sectors %}
					<a class="stone-label" href="{% url 'company-search' %}?sectors={{ sector.value }}">{{ sector.label }}</a>
				{% endfor %}
				</p>
				{% if company.sectors %}
				<div class="description-content"></div>
				{% endif %}
			</div>
		</div>
		<div class="span6">
			<div class=" company-profile-module-inner company-profile-keywords">
				<h2>Keywords</h2>
				{% for keyword in company.keywords %}
					<a href="{% url 'company-search' %}?term={{ keyword }}" target="_self" class="ed-keyword dont-break-out">{{ keyword }}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	
	<div class="row-fluid ed-report-profile-container">
		<div class="span6">
			<a href="mailto:help@digital.trade.gov.uk?subject=Report%20profile%20{{company.number}}">Report profile</a>
		</div>
		<div class="span6 ed-contact-company-container">
			{% if company.email_address %}
				<a class="button button-primary ga-tracking-contact-supplier" href="{% url 'contact-company' company_number=company.number %}">Contact company</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
