{% extends 'govuk_layout.html' %}
{% load static from staticfiles %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}Find a Buyer{% endblock %}
{% block sub_header %}{% endblock %}
{% block content %}
<div class="container">

		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out" style="font-weight: normal;">{{case_study.company.name}}</span>
				</h1>
			</div>
		</div>

		<div class="company-profile-module-container ed-case-study-details-container ed-special-bottom-border">
			<div class="company-profile-module-inner">
				<div class="row-fluid">
					<h3>{{ case_study.title }}</h3>
				</div>
				{% if case_study.image_one %}
					<div class="row-fluid">
						<div class="span12 ed-image-caption">
							<img src="{{case_study.image_one}}" />
							{% if case_study.image_one_caption %}
								<div>{{case_study.image_one_caption}}</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
				<div class="row-fluid">
					<div class="span8" style="margin-top: 20px;">
						<div class="row-fluid">
							<div class="span12" style="margin-bottom: 10px;">
								{{ case_study.description|linebreaks }}
							</div>
						</div>
						{% if case_study.image_two %}
							<div class="row-fluid" style="margin-bottom: 20px;">
								<div class="span12 ed-image-caption">
									<img src="{{ case_study.image_two }}" />
									{% if case_study.image_two_caption %}
										<div>{{case_study.image_two_caption}}</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
						{% if case_study.image_three %}
							<div class="row-fluid ">
								<div class="span12 ed-image-caption">
									<img src="{{ case_study.image_three }}" />
									{% if case_study.image_three_caption %}
										<div>{{case_study.image_three_caption}}</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
						<div class="row-fluid" style="margin-top: 20px;">
							<a href="{% url 'public-company-profiles-detail' company_number=case_study.company.number slug=case_study.company.slug %}">
								View company profile
							</a>
						</div>
					</div>
					<div class="span4 ed-company-profile-sector-case-study-container" style="margin-top: 20px;">
						<p>
							<a href="{% url 'public-company-profiles-detail' company_number=case_study.company.number slug=case_study.company.slug %}" class="ed-filled-button-primary">
								View company profile
							</a>
						</p>
						
						<div class="contact-details">
							<h4 style="margin-top: 0;">Contact</h4>
							<p class="ed-truncate-single-line">
								<a class="ga-tracking-contact-supplier" href="{% url 'contact-company' company_number=case_study.company.number %}">Email company</a>
							</p>
							<p class="ed-truncate-single-line" >
								<a href="{{ case_study.company.website }}" target="_blank">{{ case_study.company.website }}</a>
							</p>
						</div>
						
						<div class="ed-company-profile-case-study-company-details">
							<p>
								<b>{{ case_study.company.name }}</b>
							</p>
							<p>
								<span>Incorporated: </span>{{ case_study.company.date_of_creation|date:'Y' }}
							</p>
							<p>
								<span>Industry: </span>
								<span>{{ case_study.sector.label }}</span>
							</p>
						</div>
						{% if case_study.testimonial %}
							<div class="ed-company-profile-case-study-testomonial-container">
								<blockquote class="ed-arrow_box">
									<span class="text">{{ case_study.testimonial }}</span>
									<cite>
										<span class="name">{{ case_study.testimonial_name }}</span>
										<span class="title">{{ case_study.testimonial_job_title }}</span>
										<span class="company">{{ case_study.testimonial_company }}</span>
									</cite>
								</blockquote>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	<div class="row-fluid ed-report-profile-container">
		<div class="span12">
			<a href="mailto:help@digital.trade.gov.uk?subject=Report%20profile%20{{case_study.company.number}}">Report profile</a>
		</div>
	</div>
</div>
{% endblock %}
