@import 'partials/reset';
@import 'partials/base';
@import 'components/breadcrumbs';
@import 'partials/bidi';

$sand: #f5f2ed;
$gray: #333333;

#content .form-control {
  border: 2px solid #0b0c0c;
  width: 100%;
}

#content input[type=checkbox].form-control {
  width: 40px;
}

#lede {
  padding: 60px;
  padding-top: 0;
  p {
    line-height: 1.58;
    margin-bottom: 30px;
  }
  a {
    width: 300px;
    height: 60px;
    border-radius: 3px;
    text-align: center;
  }
  form {
    width: 80%;
    input {
      height: 48px;
    }
  }
}

#content {
  background: linear-gradient(to right, #fff 54%, #f6f4f1 46%);
  .breadcrumbs {
    background-color: transparent;
  }
}

#content > .container {
  max-width: 1320px;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
}

#id_terms_agreed-label {
  padding-top: 0;
}

@media (max-width: 769px) {

  #content {
    background: white;
  }

  #lede {
    padding: 20px;
    padding-top: 0;
    div {
      padding: 0;
    }
    a {
      width: 100%;
    }
    p {
      margin-bottom: 30px;
    }
    form {
      width: 100%;
    }
  }

  #id_terms_agreed-label {
    margin-left: 40px;
  }

}

main.bidi {

  #lede {
    form {
      .form-label, .form-hint, .form-control {
        @include mirror_relative_to_parent();
        text-align: right;
      }
      select {
        direction: rtl;
        padding-right: 40px;
      }
    }
  }
}
