@import 'main.scss';
@import 'partials/reset';
@import 'components/breadcrumbs';

body,
a {
  font-family: arial,helvetica,sans-serif!important;
}

#menu {
  height: auto;
}
@media (max-width: 641px) {
  .container {
    margin-left: 0px;
  }
}

$sand: #f5f2ed;
$gray: #333333;

body #content {
  padding-top: 0;
}

#header-gov-links {
  .header-gov-link:hover,
  .header-gov-link:link,
  .header-gov-link:visited {
    line-height: 10px;  
  }
  .header-gov-link:nth-child(2) {
    line-height: 22px;
    margin-left: 1px;
  }
}

#menu a {
  text-decoration: none;
}

#hero {
  height: 300px;
  position: relative;
  .hero-teaser {
    background-color: rgba(0,82,157,0.8);
    border-bottom: #e41f13 solid 4px;
    bottom: 0;
    max-width: 520px;
    padding: 30px;
    position: absolute;
    color: #ffffff;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 1.39;
  }
}
#lede {
  padding: 60px;
  background-color: $sand;
  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    font-weight: bold;
  }
  a {
    width: 300px;
    height: 60px;
    border-radius: 3px;
    text-align: center;
  }
}

#lede-columns {
  padding: 60px;
  position: relative;
  font-size: 15px;
  div {
    position: relative;
    padding-right: 40px;
    img {
      position: absolute;
      height: 40px;
      left: -40px;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.4px;
    color: #333333;
    margin-bottom: 15px;
  }
  &:after {
    border-color: $sand;
    border-style: solid;
    border-top-color: #fff;
    border-width: 40px 40px 0px 40px;
    content: " ";
    display: block;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    bottom: -40px;
  }
}

#companies {
  padding: 60px;
  background-color: $sand;

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: $gray;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 15px;
  }

  form {
    margin-bottom: 25px!important;
    position: relative;
    input {
      padding: 10px;
    }
    button {
      position: absolute;
      top: 0;
      right: -79px;
      padding: 12px;
    }
  }

  ul {
    margin-bottom: 30px;
    li {
      height: 250px;
      max-height: 250px;
      display: flex;
      padding: 20px 30px;
      background-color: #ffffff;
      border: solid 1px #d8d8d8;
      margin-bottom: 30px;
      img {
        width: 170px;
      }
      dl {
        overflow: hidden;
        margin-left: 20px;
        dt {
          margin-bottom: 10px;
          a {
            font-size: 24px;
          }
        }
        dd {
          font-size: 19px;
          line-height: 1.58;
          color: #333333;
        }
      }
    }
  }

  .button {
    background-color: #00549f;
    border-radius: 3px;
    box-shadow: none;
    color: #ffffff;
    display: block;
    font-weight: bold;
    height: 60px;
    line-height: 1.39;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
  }
}

#articles {
  padding: 60px;
  margin-bottom: 40px;
  p {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: $gray;
    margin-bottom: 45px;
  }
  img {
    width: 100%;
  }
  .article-meta {
    font-size: 15px;
    line-height: 1.47;
    span {
      color: $gray;
    }
  }
}

.error-reporting {
  padding-top: 30px;
  padding-bottom: 30px;
}

#content > .container {
  max-width: 1320px;
}

@media (max-width: 769px) {
  #hero .hero-teaser {
    margin-right: 15px;
    padding: 15px;
  }

  #lede {
    padding: 30px;
    text-align: center;
    div {
      padding: 0;
    }
    p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 30px;
    }
  }

  #lede-columns {
    padding: 30px;
    div {
      margin-left: 30px;
      margin-bottom: 30px;
      padding-right: 0;
    }
    h2 {
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 1.67;
    }
  }

  #companies {
    padding: 30px;
    padding-top: 60px;
    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 1.67;
      margin-bottom: 15px
    }
    form {
      button {
        right: -29px;
      }
    }
    a {
      font-size: 19px;
      margin-bottom: 10px;
    }
    dd {
      font-size: 15px;
      line-height: 1.33;
    }
  }
}
