@import 'partials/reset';
@import 'partials/base';
@import 'components/breadcrumbs';
@import 'components/articles-section';

$sand: #f5f2ed;
$gray: #333333;
$white:  #ffffff;

#content {
  padding-bottom: 0;  
}

#hero {
  height: 300px;
  padding-bottom: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 40%;
  .container {
    position: relative;
    height: 300px;
  }
  .hero-teaser {
    background-color: rgba(0,82,157,0.8);
    border-bottom: #e41f13 solid 4px;
    bottom: 0;
    max-width: 520px;
    padding: 30px;
    position: absolute;
    color: $white;
  }
  .image-caption {
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 15px;
    line-height: 1.53;
    color: $white;
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    font-size: 19px;
    line-height: 1.39;
  }
}
#lede-section {
  padding: 60px;
  background-color: $sand;
  .container {
    display: flex;
  }
  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    font-weight: bold;
  }
  a {
    width: 300px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
  }
  h2 {
    width: 52%;
    margin-right: 100px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
  }
}

#lede-columns-section {
  padding: 60px 48px;
  position: relative;
  font-size: 19px;
  div {
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
    img {
      position: absolute;
      height: 40px;
      left: -10px;
    }
  }
  h2 {
    color: $gray;
    font-size: 36px;
    letter-spacing: -0.7px;
    line-height: 1.11;
    margin-bottom: 60px;
    margin-top: 0;
  }
  .grid-row {
    padding-right: 0;
    h2 {
      color: $gray;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.4px;
      line-height: 1.29;
      margin-bottom: 15px;
    }
  }
  &:after {
    border-color: $sand;
    border-style: solid;
    border-top-color: #fff;
    border-width: 40px 40px 0px 40px;
    content: " ";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    bottom: -40px;
  }
}

main.bidi #lede-columns-section {
  div {
    img {
      left: 0;
    }
  }
}

#companies-section {
  padding: 60px;
  padding-top: 80px;
  background-color: $sand;

  #companies-list-text {
    margin-bottom: 15px;
    h2 {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.11;
      color: $gray;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      line-height: 1.67;
    }
  }
  form {
    margin-bottom: 30px;
    position: relative;
    input {
      width: 100%;
      height: 50px;
      font-size: 16px;
      padding-left: 15px;
    }
    button {
      position: absolute;
      top: 0;
      right: -50px;
      background-image: url(/static/industry/images/search.svg);
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-position: 100%;
      background-color: #1e1348;
      background-size: 50px 25px;
      padding: 0;
    }
  }

  ul {
    margin-bottom: 30px;
    li {
      display: flex;
      padding: 30px;
      background-color: $white;
      border: solid 1px #d8d8d8;
      margin-bottom: 30px;
      img {
        width: 170px;
      }
      dl {
        overflow: hidden;
        margin-left: 20px;
        dt {
          margin-bottom: 10px;
          a {
            font-size: 24px;
          }
        }
        dd {
          font-size: 19px;
          line-height: 1.58;
          color: #333333;
        }
      }
    }
  }

  a.button {
    display: table;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }
}

@media (max-width: 769px) {
  #hero-section {
    height: 350px;
    .hero-teaser {
      padding: 15px;
      margin: 0;
    }
    .container {
      padding: 0;
      height: 100%;
    }
    .image-caption {
      display: none;
    }
  }

  #lede-section {
    .container {
      display: block;
    }
    padding: 30px;
    text-align: center;
    h2 {
      width: 100%;
      margin-bottom: 30px;
    }
    div {
      padding: 0;
    }
    a {
      width: 100%;
      margin-left: 0;
    }
    p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 30px;
    }
  }

  #lede-columns-section {
    padding: 30px;
    padding-left: 5px;
    padding-right: 5px;
    div {
      margin-left: 5px;
      margin-bottom: 30px;
      img {
        left: -5px;
      }
    }
    h2 {
      margin-bottom: 30px;
    }
    .grid-row {
      margin-left: 0;
      padding-left: 0;
      h2 {
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.67;
    }
  }

  #companies-section {
    padding: 20px;
    padding-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 1.67;
      margin-bottom: 15px
    }
    form {
      margin-bottom: 30px!important;
      button {
        right: 0;
      }
    }
    a {
      font-size: 19px;
      margin-bottom: 10px;
    }
    dd {
      font-size: 15px;
      line-height: 1.33;
    }
    ul {
      li {
        height: auto;
        max-height: none;
        display: block;
        padding: 20px;
        margin-bottom: 20px;
        img {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
          display: block;
        }
        dt {
          a {
            font-size: 19px;
          }
        }
        dl {
          margin-left: 0;
        }
        dd {
          font-size: 15px;
        }
      }
    }
  }

  #articles-section {
    margin-bottom: 30px;
    article {
      border-bottom: 1px solid $gray;
    }
  }
}
