@import 'main.scss';
@import 'partials/reset';
@import 'partials/base';
@import 'components/breadcrumbs';
@import 'components/articles-container';

$sand: #f5f2ed;
$gray: #333333;

#hero {
  height: 300px;
  position: relative;
  .hero-teaser {
    background-color: rgba(0,82,157,0.8);
    border-bottom: #e41f13 solid 4px;
    bottom: 0;
    max-width: 520px;
    padding: 30px;
    position: absolute;
    color: #ffffff;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 1.39;
  }
}
#lede {
  padding: 60px;
  background-color: $sand;
  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    font-weight: bold;
  }
  a {
    width: 300px;
    height: 60px;
    border-radius: 3px;
    text-align: center;
  }
}

#lede-columns {
  padding: 60px;
  position: relative;
  font-size: 15px;
  div {
    position: relative;
    padding-right: 40px;
    img {
      position: absolute;
      height: 40px;
      left: -40px;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.4px;
    color: #333333;
    margin-bottom: 15px;
  }
  &:after {
    border-color: $sand;
    border-style: solid;
    border-top-color: #fff;
    border-width: 40px 40px 0px 40px;
    content: " ";
    display: block;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    bottom: -40px;
  }
}

#companies {
  padding: 60px;
  background-color: $sand;

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: $gray;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 15px;
  }

  form {
    margin-bottom: 25px!important;
    position: relative;
    input {
      padding: 10px;
    }
    button {
      position: absolute;
      top: 0;
      right: -79px;
      padding: 12px;
    }
  }

  ul {
    margin-bottom: 30px;
    li {
      height: 250px;
      max-height: 250px;
      display: flex;
      padding: 20px 30px;
      background-color: #ffffff;
      border: solid 1px #d8d8d8;
      margin-bottom: 30px;
      img {
        width: 170px;
      }
      dl {
        overflow: hidden;
        margin-left: 20px;
        dt {
          margin-bottom: 10px;
          a {
            font-size: 24px;
          }
        }
        dd {
          font-size: 19px;
          line-height: 1.58;
          color: #333333;
        }
      }
    }
  }

  .button {
    background-color: #00549f;
    border-radius: 3px;
    box-shadow: none;
    color: #ffffff;
    display: block;
    font-weight: bold;
    height: 60px;
    line-height: 1.39;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
  }
}

#content > .container {
  max-width: 1320px;
}


@media (max-width: 769px) {
  #hero {
    height: 350px;
    .hero-teaser {
      margin-right: 15px;
      padding: 15px;
    }
  }

  #lede {
    padding: 30px;
    text-align: center;
    div {
      padding: 0;
    }
    a {
      width: 100%;
    }
    p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 30px;
    }
  }

  #lede-columns {
    padding: 30px;
    div {
      margin-left: 30px;
      margin-bottom: 30px;
      padding-right: 0;
    }
    h2 {
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 1.67;
    }
  }

  #companies {
    padding: 20px;
    padding-top: 60px;
    .button {
      width: auto;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      line-height: 1.67;
      margin-bottom: 15px
    }
    form {
      button {
        right: 0;
      }
    }
    a {
      font-size: 19px;
      margin-bottom: 10px;
    }
    dd {
      font-size: 15px;
      line-height: 1.33;
    }
  }

  #articles-container {
    margin-bottom: 30px;
  }
}
