.breadcrumbs {
  background-color: #fff;
  padding: 30px 0;

  a, span {
    display: inline-block;  // needed for .bidi-rtl to work
  }
  .separator {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    border-style: solid;
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: top;
    width: 5px;
    vertical-align: middle;
    border-color: #d8d8d8;
    border-width: 2px 2px 0 0;
    margin: 0 5px;
    top: 0;
    box-sizing: initial;
    overflow: hidden;
    text-indent: -1000px;
  }
}

.verbose {
    overflow: hidden;
    position: absolute;
    text-indent: -1000px;
    z-index: -1;
}

@media (max-width: 769px) {
 .breadcrumbs {
 	padding: 20px;
    a {
        font-size: 15px;
    }
 }
}
