@import 'variables.scss';

body #menu {
  height: auto;
  margin-top: 0;
  a {
    text-decoration: none;
  }
}

#footer {
  a {
    text-decoration: none; 
  }
}

#header-gov-links {
  .header-gov-link:hover,
  .header-gov-link:link,
  .header-gov-link:visited {
    line-height: 10px;  
  }
  .header-gov-link:nth-child(2) {
    line-height: 22px;
    margin-left: 1px;
  }
}

.nav {
  li {
    text-indent: 0;
    &:before {
      display: none;
      position: static;
    }
  }
}

.ed-header-gov-row {
  background-color: #333;
  min-height: 40px;
  width: 100%;
  z-index: 1;
}

.header-gov-link {
  text-decoration: none;
  &:hover,
  &:link,
  &:visited {
    color: $white;
    display: inline-block;
    font-size: 14px; 
    border-left: 1px solid white;
    line-height: 22px;
    padding: 0 5px 0 10px;
    vertical-align: bottom;
  }
  
  img {
    height: 24px;
    margin-left: -2px;
    max-width: 141px;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }
  
  .site {
    font-weight: bold;
  }
}

/* Header
 *****************/
#header-gov-links {
  display: inline-block;
  padding: 6px 0 6px 0;
  position: relative;
  z-index: 1;
  .separator {
    display: none;
  }
}

#menu {
  border-left: 1px solid $grey-3;
  float: right;
  height: auto;

  a,
  a:focus,
  a:hover {
    border-right: 1px solid $grey-3;
    color: $black;
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 70px;
    padding: 24px 32px;
    width: 100%;
  }
  
  li {
    display: table-cell;
    float: none;
  }
  
  ul {
    margin :0;
  }
  
  .active {
    background-color: $grey-5;
  }
}

header.bidi {
  #menu {
    border-right: 1px solid $grey-3;
    border-left: 0;
  }
}

#menu-control {
  display: none; /* only on tablet+mobile */
}

#navbar {
  background-color: $white;
  border-bottom: 1px solid $grey-3;
  margin-bottom: 0;
}

#site-logo {
  float: left;
  height: 40px;
  margin: 16px 0 10px 0;
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  max-width: 326px;
}


/* Footer
 ******************/
#footer {
  background-color: $grey-6;
  border: none;
  color: $white;
  padding: 40px 0;
  
  a:link, a:hover, a:visited {
    color: $white;
    font-size: 17px;
    letter-spacing: -0.9px;
    line-height: 21px;
   
    img {
      border-left: 1px solid white;
      padding-left: 5px;
    }
  }
  
  img {
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    max-width: inherit;
  }
}

#footer-credits {
  display: table-cell;
  text-align: right;
  width: 25%;
  
  a {
    display: inline-block;
    margin-right: 58px;
  }
  
  .copyright-text {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 70px;
    min-width: 160px;
  }
}

#footer-links {
  display: table-cell;
  margin: 0;
  padding-right: 40px;
  width: 75%;
  
  li {
    display: inline-block;
    &:before {
      color: $white;
      content: "|";
      display: inline-block;
      padding: 0 5px;
    } 
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}
