@import 'main.scss';

.company-profile-details-body {
  margin-top: 30px;
  position: relative;
  h3 {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .company-profile-module-social-links {
    border-left: 1px solid #dedede;
    .ed-social-icon {
      width: 20px;
      margin-bottom: 2px;
      margin-right: 5px;
    }
  }
  .company-profile-module-container {
    border: 1px solid #DFD5C5;
    margin-bottom: 20px;
    li {
      list-style: initial;
    }
  }
  .company-profile-module-inner {
    padding: 20px;
    min-height: 135px;
    h3 {
      font-weight: 100;
      margin-bottom: 20px;
    }
    .icon-pencil {
      margin-top: 4px;
    }
  }
  ul {
    li {
      list-style-type: disc; 
    }
  }
}

.company-details-subtitle {
  color: $great-blue;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.company-profile-box {
  min-height: 70px;
  background: #F6F4F1;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  @media (max-width: 767px) {
    .key-facts {
      margin-bottom: 20px;
    }
  }
  .description-content,
  .company-number-content {
    margin-bottom: 10px;
  }
}

.company-logo {
  .logo-container {
    display: table;
  }
}


.mid-blue-bar {
  background: $mid-blue;
  color: $white;
  display: table!important;
  height: 60px;
  padding: 0 24px;
  width: 100%;
  .company-sub-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.web-address {
  width: 40%;
  a {
    span.url {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 90%;
      height: 18*1.4*1px; /* Fallback for non-webkit 25.2*/
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.4;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        text-decoration: none;
      }
    }

    @media (max-width: 767px) {
      text-align: left;
    }
  } 
  @media (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }
}

.company-profile-details-hero-container {
  margin-bottom: 30px;
  background: #D8D8DA;
}

.company-profile-details-hero-logo {
  @media (max-width: 767px) {
    text-align: center
  }
  img {
      height: 154px;
  }
}

.company-profile-details-hero-title {
  padding: 22px;
}

.stone-label {
  background: $stone;
  border-radius: 6px;
  color: $mid-grey;
  font-size: 1em;
  font-weight: 300;
  margin: 0 5px 8px 0;
  padding: 9px 12px;
}

.company-profile-details-hero-edit-button {
  bottom: 0;
  padding-bottom: 20px;
  position: absolute;
  right: 20px;
  a {
    color: white;
  }

  @media (max-width: 767px) {
    left: 0;
    margin-top: 20px;
    position: relative;
  }
}

.supplier-case-study-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.supplier-case-study-images {
  margin-bottom: 20px;
  img {
    vertical-align: top;
  }
}

.company-profile-details-body-toolbar {
  padding: 28px 25px 27px 25px;
  border: solid 1px #d8d8d8;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}

.company-profile-details-body-toolbar-bottom {
  border-top: 0;
  margin-bottom: 20px;
}

.public-company-profiles-result-item {
  border: solid 1px #d8d8d8;
  border-top: 0;
  color: #4a4a4a;
  padding: 20px;
  h3 {
    font-size: 24px;
    line-height: 25px;
    font-weight: 300;
  }
  b {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
  }
  .ed-public-company-profiles-result-item-profile-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: -0.2px;
    text-align: right;
    color: #004f95;
  }
  .company-profile-box {
    background: white;
  }
}

.supplier-case-study-read-more-cta {
  margin-top: 20px;
}

.supplier-case-study-container {
  .supplier-case-study-description {
    padding: 20px;
  }
  .supplier-case-study-testimonail-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .supplier-case-study-view-profile-container {
    margin-top: 20px;
  }
}

.company-profile-invisible-banner {
  padding: 20px;
  color: #B00D23;
  font-weight: bold;
}

.ed-company-profile-add-case-study-button-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ed-company-profile-add-case-study-button {
  border: 3px solid #007EA3;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
  span {
    color: #007EA3;
  }
  .icon-plus {
    margin-top: 4px;
  }
}

.ed-company-profile-add-case-study-button:focus {
  background-color: #007EA3;
  span {
    color: white;
  }
}

.ed-company-profile-logo-container {
  border: 1px solid #dedede;
  min-width: 140px;
  height: 140px;
  img {
    max-height: 140px;
  }
}

.ed-company-profile-sector-case-study-container {
  margin-bottom: 20px;

  img {
    padding: 0
  }
  .ed-company-profile-sector-case-study-inner {
    margin-bottom: 20px;
  }
  .ed-company-profile-case-study-testomonial-container {
    background: #D8D8D8;
    padding: 20px;
  }
  .ed-company-profile-case-study-company-details {
    background: #007EA3;
    padding: 20px;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}


.ed-envelope-container {
  margin-top: 40px; 
  .ed-envelope {
    border: 1px solid #ddd;
    max-width: 35em;
    position: relative;
    padding: 1em 1em 1em 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    .ed-recipient {
      margin-left: 75px;
      margin-top: 80px;
      width: 200px;
      margin-bottom: 50px;
    }
    .ed-stamp {
      position: absolute;
      right: 20px;
    }
  }
}

.ed-icon-pencil {
  height: 15px;
  margin-bottom: 4px;
}

.ed-report-profile-container {
  margin-top: 20px;
  margin-bottom: 25px;
  .ed-filled-button-primary {
    width: auto;
  }
}


.public-company-profiles-search-form {
  background-color: #2A0348;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 20px;
  h2 {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
  }
  .span12 {
    margin-left: 0;
  }
  .input-field-container {
    margin-top: 10px;
    margin-bottom: 0;
    select {
      width: 250px;
      margin-left: 5px;
    }
  }
  .btn-container {
    margin-top: 0;
    margin-bottom: 0;
    .button {
      border: 2px solid #004f95;
      color: #004f95;
      padding: 15px;
      text-align: center;
      font-weight: bold;
      display: block;
      background: white;
    }
  }
}

.public-company-profiles-result-item-updated {
  position: absolute;
  right: 20px;
  bottom: 36px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  letter-spacing: -0.2px;
  text-align: right;
  color: #007ea3;
}
