@import 'main.scss';

.company-profile-details-body {
  position: relative;
  h3 {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .company-profile-module-container {
    border: 1px solid #DFD5C5;
    margin-bottom: 20px;
    li {
      list-style: initial;
    }
  }
  .company-profile-module-inner {
    min-height: 135px;
    padding: 0 20px 20px 20px;
    .icon-pencil {
      margin-top: 4px;
    }
  }
  .company-profile-module-inner,
  .company-profile-module-details {
    h2, h3 {
      font-weight: 100;
      margin-bottom: 20px;
    }
  }
  .company-profile-module-description.span8,
  .company-profile-module-details {
    border-right: 1px solid #dedede;
    left: 20px;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    .company-profile-module-inner {
      padding-left: 0;
      padding-bottom: 0;
    }
  }
  .company-profile-module-details {
    a {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    a, p {
      clear: both;
    }
  }
  @media (max-width: 767px) {
    .company-profile-module-details {

    }
  }
  .company-profile-module-social-links,
  .company-profile-module-facts {
    border-left: 1px solid #dedede;
    left: -1px;
    margin-left: 20px;
    padding-left: 21px;
    position: relative;
    @media (max-width: 767px) {
      & {
        border: none;
        left: 0;
        margin-left: 0;
        padding-left: 20px;
      }
    }
    .ed-social-icon {
      margin-bottom: 2px;
      margin-right: 5px;
      width: 20px;
    }
  }
  .company-profile-industries,
  .company-profile-keywords {
    padding-top: 20px;
  }
  ul {
    li {
      list-style-type: disc;
    }
  }
}

.company-details-subtitle {
  color: $great-blue;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.company-profile-box {
  min-height: 70px;
  background: #F6F4F1;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  @media (max-width: 767px) {
    .key-facts {
      margin-bottom: 20px;
    }
  }
  .description-content,
  .company-number-content {
    margin-bottom: 10px;
  }
}

/* countering bootstrap selector */
.company-profile-details-body {
  a {
    text-decoration: underline;
  }
}

.company-logo {
  .logo-container {
    display: table;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
    img {
      max-height: 135px;
    }
  }
}


.mid-blue-bar {
  background: $mid-blue;
  color: $white;
  display: table!important;
  height: 60px;
  padding: 0 24px;
  width: 100%;
  .company-sub-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.web-address {
  width: 40%;
  a {
    span.url {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 90%;
      height: 18*1.4*1px; /* Fallback for non-webkit 25.2*/
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.4;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        text-decoration: none;
      }
    }

    @media (max-width: 767px) {
      text-align: left;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }
}

.company-profile-details-hero-container {
  margin-bottom: 30px;
  background: #D8D8DA;
}

.company-profile-details-hero-logo {
  @media (max-width: 767px) {
    text-align: center
  }
  img {
      height: 154px;
  }
}

.company-profile-details-hero-title {
  padding: 22px;
}

.stone-label,
.stone-label:focus {
  background: $stone;
  border-radius: 6px;
  color: $mid-grey;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  margin: 0 5px 8px 0;
  padding: 9px 12px;
}

.company-profile-details-hero-edit-button {
  bottom: 0;
  padding-bottom: 20px;
  position: absolute;
  right: 20px;
  a {
    color: white;
  }

  @media (max-width: 767px) {
    left: 0;
    margin-top: 20px;
    position: relative;
  }
}

.supplier-case-study-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.supplier-case-study-images {
  margin-bottom: 20px;
  img {
    vertical-align: top;
  }
}

.company-profile-details-body-toolbar {
  border: solid 1px $grey-3;
  padding: 28px 25px 27px 25px;
  border-bottom: solid 1px #d8d8d8;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  letter-spacing: -0.2px;
  color: #4a4a4a;
  padding: 28px 25px 27px 25px;
}

.company-profile-details-body-toolbar-bottom {
  border-top: 0;
}

.public-company-profiles-result-item {
  border: solid 1px $grey-3;
  border-top: 0;
  color: #4a4a4a;
  padding: $spacing-2;
  word-wrap: break-word;
  h3 {
    @include font-title-3;
  }
  b {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
  }
  .ed-public-company-profiles-result-item-profile-link {
    text-align: right;
    @media (max-width: 767px) {
      margin-bottom: 10px;
      display: inline-block;
    }
  }
  .company-profile-box {
    background: white;
  }
}

.supplier-case-study-read-more-cta {
  margin-top: 20px;
}

.supplier-case-study-container {
  .supplier-case-study-description {
    padding: 20px;
  }
  .supplier-case-study-testimonail-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .supplier-case-study-view-profile-container {
    margin-top: 20px;
  }
}

.company-profile-invisible-banner {
  padding: 20px;
  color: #B00D23;
  font-weight: bold;
}

.ed-company-profile-add-case-study-button-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ed-company-profile-add-case-study-button {
  border: 3px solid #007EA3;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
  span {
    color: #007EA3;
  }
  .icon-plus {
    margin-top: 4px;
  }
}

.ed-company-profile-add-case-study-button:focus {
  background-color: #007EA3;
  span {
    color: white;
  }
}

.ed-company-profile-sector-case-study-container {
  border: 1px solid #DFD5C5;
  margin-bottom: 20px;
  padding: 20px;
  a {
    font-family: 'Roboto', sans-serif;
  }
  img {
    padding: 0
  }
  p {
    font-family: 'Roboto Light', sans-serif;
    font-size: 18px;
  }
  .company-profile-module-container {
    border: none;
    &:nth-child(3n+1) {
      clear: left;
      margin-left: 0;
    }
  }
  .company-profile-module-inner {
    padding: 0;
    h3 {
      font-family: 'Roboto Light', sans-serif;
      font-size: 21px;
      letter-spacing: 0;
      line-height: 25px;
    }
  }
}


.ed-envelope-container {
  margin-top: 40px;
  .ed-envelope {
    border: 1px solid #ddd;
    max-width: 35em;
    position: relative;
    padding: 1em 1em 1em 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    .ed-recipient {
      margin-left: 75px;
      margin-top: 80px;
      width: 200px;
      margin-bottom: 50px;
    }
    .ed-stamp {
      position: absolute;
      right: 20px;
    }
  }
}

.ed-icon-pencil {
  height: 15px;
  margin-bottom: 4px;
}

.ed-report-profile-container {
  margin-top: 20px;
  margin-bottom: 25px;
  .ed-filled-button-primary {
    width: auto;
  }
}

.public-company-profiles-result-item-updated {
  color: $aqua;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  letter-spacing: -0.2px;
}


/* START: Counter Bootstrap nonsense 
  (Remove if Bootstrap is ditched) */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0;
  line-height: 1.4em;
  margin-bottom: 0;
  &:focus {
    box-shadow: none;
    outline: 3px solid #ffbf47;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
/* END: Counter Bootstrap nonsense */



/* Desktop 
 *****************/
form {
  margin: 0;
}

h1 {
  @include font-title-1;
  color: $white;
}

legend {
  @include font-title-4;
  border: none;
  margin-bottom: 0;
}

.supplier-search-form {
  background-color: $grey-1;
  border-radius: 3px;
  padding: 25px;
  margin: 25px 0;
  
  .button {
    float: right;
    font-size: 24px;
    padding: 15px 0;
    position: relative;
    top: -5px;
    width: 25%;
  }
  
  input[type="text"] {
    border-color: $grey-2;
    height: auto;
    padding: 12px;
    width: 70%;
  }
}

#ed-search-filters-container {
  border-right: $spacing-2 solid white; 
  float: left;
  margin: 0 0 $spacing-2 0;
  width: 33%;
  
  .company-profile-details-body-toolbar {
    position: relative;
  }
}

#ed-search-filters-list {
  border: solid 1px #d8d8d8;
  border-top: 0;
  padding: $spacing-3 0 $spacing-2 0;

  ul {
    margin-top: 10px;
    margin: 0;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px 0 0 20px;
    position: relative;
  }
  fieldset {
    padding-left: 5px;
  }
  legend {
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-3;
  }
}

#ed-search-filters-container img {
  display: none;
}

#ed-search-filters-title {
  @include font-title-3;
}
  
#ed-search-list-container {
  float: left;
  margin: 0 0 $spacing-2 0; 
  width: 67%;
}

#fassearch-content {
  margin-top: 40px;
}

#fassearch-intro {
  background-color: $great-primary;
  padding-top: 50px;
  padding-bottom: 20px;
}
  
#fassearch-initial-content,
#fassearch-no-results-content {
  border: $grey-3 solid 1px;
  border-bottom: none;
  margin-bottom: 50px;
  padding: 50px 25px;
  position: relative;

  li, ul {
    list-style: none;
  }

  li {
    text-indent: -10px;
    &:before {
      content: "\25CF";
      left: -10px;
      position: relative;
    }
  }

  .message {
    font-color: $grey-4;
    font-size: 24px;
  }
  
  &:after {
    background-color: $flag-red;
    bottom: 0;
    box-sizing: content-box;
    content: " ";
    height: 7px;
    left: -1px;
    padding: 0 1px;
    position: absolute;
    width: 100%;
  }
  
}

#fassearch-initial-content {
  li {
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.2em;
  }
  
  .message {
    margin-bottom: 40px;
    max-width: 68%;
  }
}

.ed-company-search-summary {
  margin-bottom: 10px;
  em {
    font-weight: bold;
    font-style: normal;
  }
}
#fassearch-no-results-content {
  min-height: 450px;
  .message {
    padding: 50px 0;
    text-align: center;
  }
  
  .term {
    font-weight: bold;
  }
}




/* TABLET
 *****************/
@media (max-width: 800px) {
  h1 {
    font-size: 36px;
  }
  
  .company-profile-details-body-toolbar,
  .public-company-profiles-result-item {
    padding-left: $spacing-3;
    padding-right: $spacing-3;
  }
  
  .supplier-search-form {
    input[type="text"] {
      width: 100%;
    }

    .button {
      float: none;
      margin: 20px 0;
      padding: 15px 12px;
      width: 100%;
    }
  }
  
  #ed-search-filters-container {
    border-right-width: $spacing-3;
  }
  
  #ed-search-filters-list {
    padding-left: $spacing-3;
    label {
      @include font-standard-2;
    }
    
    ul {
      padding-right: $spacing-3;
    }
  }
  
  #fassearch-initial-content {
    .message {
      max-width: 100%;
    }
  }
}




/* MOBILE
 *****************/
@media (max-width: 640px) {

  #ed-filters-clear-all {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 43%;
    width: 61px;
    margin-top: 20px;
  }

  #ed-search-filters-container {
    border-right-width: 0;
    width: 100%;
    .company-profile-details-body-toolbar {
      padding: 14px 20px;
      height: 60px;    
    }
    img {
      display: block;
    }
  }

  h1 {
    font-size: 30px;
  }
  
  .company-logo .logo-container {
    margin-left: auto;
    margin-right: auto;
  }

  .company-profile-details-body .company-logo:first-child {
    margin-left: 0;
  }
  
  .supplier-search-form {
    padding: 0;
    background-color: transparent;
    margin-bottom: 0;
    label {
      color: white;
    }
    .button {
      margin-bottom: 0;
    }
  }
  
  #ed-search-list-container{
    width: 100%;
  }
  
  #fassearch-initial-content {
    .message {
      font-size: 18px;
    }
  }

  #ed-search-filters-container {
    margin-bottom: 20px;
    background-color: #f6f4f1;
  }

  #ed-search-filters-list {
    background-color: #ffffff;
  }

  body.js-enabled #ed-search-filters-container {
    #ed-search-filters-icon {
      background: url('images/icons/close.svg');
      height: 29px;
      width: 30px;
      display: inline-block;
    }
    &.ed-js-filter-list-mobile-closed {
      #ed-search-filters-list{
        display: none;
      }
      #ed-search-filters-icon {
        background: url('images/icons/filters.svg');
      }
    }
  }
}


/* IE targeted hack because 10+ no longer supports Conditional Comments */
@media screen\0 {

  /* Fix lack of max-width support because container doesn't have set width */
  .company-logo .logo-container img {
    width: 100%;
  }
}
