.ed-proposition-container {
  .ed-key-facts-container {
    float: left;
    margin: 0 20px 20px 0;
  }
}


/* Industries
 ******************/
#industry-1 { border-width: 0 0 0 22px; }
#industry-2 { border-width: 0 7px 0 15px; }
#industry-3 { border-width: 0 15px 0 7px; }
#industry-4 { border-width: 0 22px 0 0; }


/* Tablet
 ******************/
@media (max-width: 768px) {
  .browse-companies-container,
  .search-companies-container {  
    .title {
      background-position: left center;
      padding-left: 51px;
      padding-right: 0;
    }
  }
  
  .ed-proposition-container {
    .ed-key-facts-container {
      float: none;
      margin: 0 0 20px 0;
    }
  }
}
