.ed-landing-page-gap {
  margin-bottom: 30px;
}

.ed-landing-page-read-more {
  margin-top: 15px;
}


/* Industries
 ******************/
.fas-industries-content {
  #industries {
    .section-header {
      /* A bit rubbish but fixing problem with content by removing duplicated header */
      display: none;
    }
  }
}

.industry {
  border-color: $white;
  border-style: solid;
  display: table-cell;
  padding-bottom: 30px;
  padding-top: 19%;
  position: relative;
  width: 25%;
  
  img {
    left: 0;
    position: absolute;
    top: 0;
  }
  
  p {
    font-size: 15px;
    line-height: 23px;
    min-height: 4.5em;
  }
  
  .title {
    @include font-title-3;
    min-height: 2.5em;
  }
  
  &:after {
    background-color: $red-1;
    bottom: 4px;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

#industry-1 { border-width: 0 22px 0 0; }
#industry-2 { border-width: 0 15px 0 7px; }
#industry-3 { border-width: 0 7px 0 15px; }
#industry-4 { border-width: 0 0 0 22px; }


#industry-design-break-only {
  /* Matches horrible design-only element.
     See tablet media query for details. */
  display: none;
}
  
#industries {
  border: none;
  margin-bottom: 45px;
  padding: 0;
  overflow: hidden;
}


/* DESKTOP ONLY
 ******************/
@media (min-width: 800px) {
  #companies .browse-companies-container,
  #intro .search-companies-container {
    margin-bottom: 0;  
    p {
      margin-bottom: 1em;
      width: 100%;
    }
    .button {
      position: static;
    }
    .title {
      padding-top: 0;
    }
  }
  
  #intro {
    [class*="span"] {
      display: table-cell;
      float: none;
      vertical-align: top;
    
      &:first-child {
        padding-right: 20px;
      }
    }
  }
}


/* TABLET
 ******************/
@media (max-width: 799px) {
  
  .browse-companies-container,
  .search-companies-container {
    padding: 10px 25px 25px 25px;
    
    .title {
      margin-top: 5px;
    }
  }
  
  .industry {
    padding-top: 37%;
    width: 50%;
    
    .title {
      @include font-title-4;
      min-height: 0;
    }
  }
  
  #content .ed-landing-page-sector-container {
    margin: 0 0 20px 0;
    width: 100%;
  }
  
  #industry-1 { border-width: 0 15px 0 0; }
  #industry-2 { border-width: 0 0 0 15px; }
  #industry-3 { border-width: 0 15px 0 0; }
  #industry-4 { border-width: 0 0 0 15px; }
  
  #industry-design-break-only {
    /* Matches horrible design-only element required to 
       force break on the display:table-cell elements
       trying accommodate table layout design without 
       resorting to using actual HTML table elements */
    display: block;
    margin-bottom: 30px;
  }

  #intro {
    [class*="span"] {
      display: block;
      margin-left: 0;
      width: auto;
    }
  }
}


/* MOBILE
 *****************/
@media (max-width: 640px) {
  .ed-landing-page-sector-container {
    .image,
    .text {
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: 375px) {
  
  .industry {
    display: block;
    margin-bottom: 30px;
    padding-top: 76%;
    width: auto;
    
    p,
    .title {
      min-height: initial;
    }
  }
  
  #industry-1,
  #industry-2,
  #industry-3,
  #industry-4 { 
    border: none; 
  }
  
  #industry-design-break-only {
    /* Not required for mobile */
    display: none;
  }
}
