$asset-path: '../';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

@import 'variables.scss';
@import 'main-desktop.scss';
@import 'main-tablet.scss';
@import 'main-mobile.scss';
