/* Tablet
 ******************/
@media (max-width: 979px) {
  
  #site-logo {
    height: auto;
  }
}

@media (max-width: 860px) {
  .ed-hero-sub-header {
    .ed-hero-sub-header-title {
      font-size: 46px;
    }
  }
}

@media (max-width: 799px) {
  .container {
    padding: 0 15px;
  }
  
  .ed-hero-sub-header {
    padding-top: 265px;
    
    .ed-hero-sub-header-title {
      @include font-title-2;
      width: 540px;
    }
  }
  
  #footer-links {
    border-bottom: 1px solid $white;
    display: block;
    padding-bottom: 30px;
    padding-right: 0;
    width: 100%;
  }
  
  #footer-credits {
    float: left;
    margin: 30px 0 0 0;
  }
  
  #intro {
    [class*="span"] {
      display: block;
      margin-left: 0;
      width: auto;
    }
  }
  
  #menu {
    border-top: 1px solid $grey-3;
    clear: both;
    float: none;
    height: 0;
    position: relative;
    top: 1px;
    
    li {
      border-bottom: 1px solid $grey-3;
      border-right: none;
      display: block;
      width: 100%;
    }
    
    a {
      text-align: center;
    }
  }
  
  #menu-control {
    background: none;
    border: $grey-4 solid 1px;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.9em;
    margin: 15px 0 10px 0;
    padding: 11px 12px 9px 12px;
  
    .bar {
      background-color: $grey-4;
      clear: left;
      display: block;
      float: left;
      height: 2px;
      margin: 0 6px 3px 0;
      width: 16px;
    }
  }

  #site-logo {
    max-width: 296px;
    width: 65%;
  }
}
