blockquote {
  .text {
    &:after,
    &:before {
      display: none;
    }
  }
}


.browse-companies-container,
.search-companies-container {
  .button {
    left: 25px;
    right: auto;
  }
  
  .title {
    background-position: right center;
    padding-left: 0;
    padding-right: 51px;
  }
}

.checkbox {
  padding-left: 0;
  padding-right: 40px;
  
  input[type="checkbox"],
  label::before {
    left: initial;
    right: -1px;
  }
  
  label::after {
    left: initial;
    right: 3px;
  }
}

.ed-arrow_box::after {
	border-width: 20px 0 0 20px;
  left: auto;
  right: 20px;
}

.ed-hero-sub-header {
  background-image: url(/static/images/covers/Generic-Hero-arabic.jpg);
  background-position: top right;
}

.ed-landing-page-form-container {
  .ed-landing-page-register-button-container {
    text-align: left;
  }
  
  [class*="span"] {
    float: right;
    margin-left: 0;
    
    &:first-child {
      margin-left: 2.127%;
    }
  }
}

#intro {
  [class*="span"] {
    padding-left: 0;
  }
}
