$asset-path: '../';

@import 'components/header-footer';
@import 'components/language-switcher';
@import 'variables.scss';
@import 'mixins.scss';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul, li {
  list-style: none;
}

ul, ol {
  margin: 10px 25px;
}

p {
  margin-bottom: 1.2em;
}

.screen-reader-only { 
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.data-form {
  .form-control {
    width: 100%;
    max-width: 500px;
  }

  .radio-group {
    overflow: hidden;
  }

  .save-button {
    background: #00549F;
    margin: 30px 0;
  }
}

.form-group {
  .subfield {
    input {
      width: 20%;
    }

    .suffix {
      font-weight: bold;
    }
  }

  &.postcode {

    input {
      width: 8em;
      max-width: 100%;
    }
  }

  &.contact-number {
    input {
      width: 11em;
      max-width: 100%;
    }
  }
}

.list-header {
  font-weight: bold;
}

.list-inset {
  list-style-type: circle;
  margin-left: 2.5em;
}

.nav {
  li {
    text-indent: 0;
    &:before {
      display: none;
      position: static;
    }
  }
}

.grid-row.grid-row--great {
    background: #F2EEE8;
    margin-top: 30px;
}

.panel--great {
  background: #F2EEE8;
  margin-top: 30px;
  padding: 1px 15px;
}

.exporting-logo {
    margin-bottom: 30px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// The 'a11y' class is a CSS technique for preventing text
// from visually rendering on-screen but still being available for screen readers.
.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Truncate text by lines with ellipsis
.one-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*1px; /* Fallback for non-webkit 25.2*/
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*2px; /* Fallback for non-webkit 50.4 */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.three-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*3px; /* Fallback for non-webkit 75.6 */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.external-link-white {
  text-decoration: none;
  word-break: break-all;
}

.arrow-link {
  padding: 0;
  text-transform: none;
  border: 0;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  font-size: 1em;
}

a.white-link {
  color: $white;
  border-bottom: 1px solid $white;
  text-decoration: none;
}
a.white-link:hover {
  border-bottom: 1px dashed $white;
}

#skiplink-container a.skiplink,
a.teal:focus {
  background: #007EA3;
  color: #ffffff;
}

#skiplink-container a.skiplink {
  margin-top: 8px;
}

.custom-hr {
  border-top: 0;
}

.input-field-container {
  margin-bottom: 15px;
  label {
    span {
      margin-bottom: 5px;
      display: inline-block;
    }
  }
  
  input[type='checkbox'] {
    height: 14px;
    width: 14px;
  }

  select {
    height: 50px;
    width: 100%;
    -webkit-appearance: none; 
    appearance: none; 
  }

  textarea {
    min-height: 200px;
  }

  input[type='file'] {
    border: 0
  }

  &.has-error {
    border-left: 4px solid #B00D23;
    padding-left: 15px;

    ul {
      &.errorlist {
        border: none;
        margin: 0 0 10px;
        padding: 0;
        li {
          color: #b10e1e;
          font-weight: 600;
        }
      }
    }
    input, select, textarea {
      border-color: #B00D23;
    }
  }
}

.btn-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.checkbox-txt {
  margin-left: 20px;
}

.great-britain-logo {
  margin: 0 0 20px;
  max-width: 100px;
  img {
    width: 100%;
    height: auto;
  }
}

body {

  #content {
    margin-bottom: 15px;
    padding-bottom: 0;
    .container {
      .enrolment-intro-container {
        margin-bottom: 20px;
        margin-top: 70px;
        .enrolment-intro {
          padding: 0;
        }
      }
      form {
        margin-bottom: 0;
        .connections-platform-form {
          ul.errorlist li {
            float: none;
            width: 100%;
          }
        }
        .connections-platform-form {
          ul li {
            float: left;
            width: 50%;

            label {
              display: block;
              position: relative;
              background: #F0F0F0;
              padding: 12px 14px 12px 20px;
              margin: 0 20px 20px 0;
              overflow: hidden;
              cursor: pointer;
              input {
                margin-right: 10px;
                outline-color: #ffbf47;
              }
            }
          }

          @media (min-width: 979px) and (max-width: 1200px) {
            ul li {
              float: left;
              width: 50%;
            }
          }

          @media (max-width: 979px) {
            ul li {
              float: left;
              width: 100%;
            }
          }

        }
      }
      .registered, .sorry {
        margin-bottom: 150px;
        margin-top: 150px;
        padding: 40px;
        h1, h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.ed-hero-sub-header {
  background: $great-blue url(/static/images/covers/agnostic.jpg) top left no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;
  min-height: 500px;
  margin-bottom: 30px;
  padding-top: 220px;
  position: relative;

  .ed-hero-sub-header-title {
    @include font-title-1;
    color: $white2;
    display: inline-block;
    margin: 0;
    max-width: 800px;
  }
  
  &:after {
    background-color: $red-1;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 100%;
  }
}

.form-wrapper-btn-container {
  line-height: 3em;
  clear: both; // needed for IE8 compatibility with multi column lists
}

.ed-form-classification-container li {
  margin-bottom: 0;
}

.ed-error-page-container {
  color: #4a4a4a;
  .ed-error-page-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul.ed-error-page-synopsis {
    margin:0;
    li {
      margin-bottom: 10px;
    }
  }
  .ed-error-page-status {
    padding-bottom: 40px;
  }
  hr {
    border-bottom: 1px solid #4f0b7b;
  }
}


.ed-international-success-container {
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .ed-international-success-synopsis {
    margin-bottom: 40px;
  }
}

.header-nav-menu-toggle-button {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.header-nav-menu-toggle-button {
  display: none;
  @media (max-width: 960px) {
    display: block;
  }
}

.ed-header-level-two {
  .ed-header-image-container {
    position: relative;
    @media (max-width: 979px) {
      padding-left: 5px;
    }
  }
}

.header-main-logo {
  width: 300px;
  @media (max-width: 640px) {
    width: 70%;
  }
}

a.no-focus-highlight {
  background-color: inherit;
}

.button-hyperlink {
  background: transparent;
  border: none;
  margin-left: 20px;
}

.ed-arrow_box {
  position: relative;
  background: #d8d8d8;
}

.ed-arrow_box:after {
  border: solid transparent;
  border-top-color: #d8d8d8;
  border-width: 20px 20px 0px 0px;
  left: 20px;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}

// do not remove the `a.` prefix - it increases the specificity
// to ensure `color` we set here is respected.
a.ed-naked-button-primary {
  border: 3px solid #00549F;
  color: #00549F;
  display: block;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

// do not remove the `a.` prefix - it increases the specificity
// to ensure `color` we set here is respected.
a.ed-naked-button-error {
  border: 3px solid #B00D23;
  color: #B00D23;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
}


// do not remove the `a.` prefix - it increases the specificity
// to ensure `color` we set here is respected.
a.ed-filled-button-primary {
  background-color: #00549F;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 21px 24px;
  border: none;
  -webkit-appearance: none;
  font-weight: 500;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  &:focus {
    background: #007EA3;
    color: white;
    outline: 0;
  }
}

.ed-header-gov-row {
  background-color: #333;
  min-height: 40px;
  width: 100%;
  z-index: 1;
}

.ed-special-bottom-border {
  border-bottom: 7px solid #B00D23;
}

.js-enabled {
  .ed-language-switcher {
    button {
      display: none;
    }
  }
}

.ed-truncate-single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ed-landing-page-form-container {
  @include form-container;
  margin-bottom: $spacing-1;

  .ed-landing-page-register-button-container {
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    
    @media (max-width: 767px) {
      text-align: left;
    }
  }
  .ed-checkbox-container {
    margin-left: 0;
  }
  textarea {
    min-height: 100px;
  }
  
  .title {
    @include font-title-3;
  }
}

.ed-pretty-radio-select {
  li {
    width: 100%;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    font-size: 15px;
  }
  input {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: white;
    border: none;
  }

  label {
    padding-left: 35px;
    text-indent: -35px;
    margin-bottom: 10px;
  }

  input::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  input:focus {
    outline: none;
  }

  input:focus::before {
    -webkit-box-shadow: 0 0 0 4px #ffbf47;
    -moz-box-shadow: 0 0 0 4px #ffbf47;
    box-shadow: 0 0 0 4px #ffbf47;
  }

  input:checked::after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  input::after {
    content: "";
    border: 6px solid #00549f;;
    height: 0;
    position: absolute;
    top: 7px;
    left: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}



/* General
 ******************/
a {
  &:link {
    /* 
    Match selector to overwrite gov-template styles, 
    but makes button styles more difficult. Would
    be better without psuedo class raising priority.
    */
    @include font-standard-1;
  }
  
  &:focus {
    background-color: transparent;
    outline: 3px solid $focus;
    text-decoration: underline;
  }
}

body {
  @include font-standard-1;
  background-color: $white;
  padding: 0;
}

h1 {
  @include font-title-2;
}

h2 {
  @include font-title-3;
}

section {
  border: $grey-3 solid 1px;
  margin-bottom: 30px;
  padding: 30px;
}

.container {
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
}

.errorlist {
  border-left: 4px solid #b10e1e;
  color: #b10e1e;
  font-weight: 600;
  padding: 15px;
  margin: 0;
}

.section-header {
  @include font-title-2;
}


/* Buttons
 *****************/
button,
input[type="button"],
.button,
.button:link {
  @include font-button-1;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: $blue-1;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 20px 30px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  
  &:focus {
    outline: 3px solid $focus;
  }  
}

.button-primary,
.button-primary:visited,
.button-primary:focus,
.button-primary:link {
  background-color: $blue-1;
  color: $white;
}


/* Forms
 *****************/
label {
  @include font-standard-1;
}

label, 
select, 
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"], 
input[type="radio"], 
input[type="checkbox"] {
  /* overwrite confusing Bootstrap style */
	cursor: initial;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  /* silly selector to match and overwrite Bootstrap */
  @include font-standard-1;
  background-color: $white;
  border: $grey-3 solid 1px;
  border-radius: 0;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
  
  &:focus,
  &:focus:invalid {
    border-color: $grey-3;
    color: inherit;
    outline: 3px solid $focus;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
      
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.checkbox {
  padding-left: 40px;
  position: relative;
  z-index: 0;

  input[type="checkbox"] {
    height: 22px;
    left: -1px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 1px;
    width: 24px;
    -webkit-appearance: none;
  }

  input:checked + label:after {
    content: "";
    border-color: $mid-blue;
    border-style: solid;
    border-width: 0 0 3px 3px;
    height: 6px;
    left: 5px;
    position: absolute;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
    width: 16px;
    z-index: -1;
  }

  input:focus + label:before  {
    outline: 3px solid $focus;
  }

  label:before {
    content: "";
    border: 1px solid $grey-3;
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 24px;
    z-index: -1;
  }
}

.checkbox.multi {
  li {
    position: relative;
    padding-left: 40px;

    input {
      height: 22px;
      left: -2px;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: -5px;
      width: 22px;
      -webkit-appearance: none;
      margin-left: 0;
    }
     
    input:checked + label:after {
      content: "";
      border-color: $mid-blue;
      border-style: solid;
      border-width: 0 0 3px 3px;
      height: 6px;
      left: 5px;
      position: absolute;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 8px;
      width: 16px;
      z-index: 0;
    }

    input:focus + label:before  {
      outline: 3px solid $focus;
    }
    label:before {
      content: "";
      border: 1px solid $grey-3;
      display: block;
      height: 22px;
      left: 0;
      position: absolute;
      top: 1px;
      width: 24px;
      z-index: 0;
    }
  }
}

.helptext {
  @include font-standard-2;
}

/* Components
 *****************/
blockquote {
  border: none;
  padding: 20px;
  
  cite {
    @include font-standard-2;
  }
  
  span {
    display: block;
  }
  
  .text {
    margin-bottom: 1em;
    &:after {
      content: "\201D";
    }
    &:before {
      content: "\201C";
    }
  }
}

.browse-companies-container,
.search-companies-container {
  background-color: $aqua;
  color: $white;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 25px;
  position: relative;

  p {
    margin-bottom: 0;
    width: 55%;
  }
    
  .button {
    background-color: $white;
    border: 2px solid $blue-2;
    color: $blue-2;
    bottom: 25px;
    position: absolute;
    text-align: center;
    right: 25px;
  }
  
  .title {
    @include font-title-3;
    background-image: url(/static/images/globe-icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px;
    min-height: 40px;
    padding: 5px 0 0 51px;
  }
}

#ed-form-area-progress-indicator {
  font-size: 15px;
  color: #9b9b9b;
}
#ed-form-area-title {
  & > h1 {
    margin-bottom: 0;
  }
  hr {
    border-top: 1px solid #979797;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
#ed-multi-step-form-subtitle {
  margin-bottom: 53px;
}
div.ed-multi-step-form {
  hr {
    border-top: 1px solid #979797;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  margin-left: 0!important;
  ul {
    margin-left: 0;
  }
  .input-field-container > li {
    & > label {
      font-size: 24px;
      font-weight: bold;
    }
    margin-bottom: 40px;
    span {

    }
  }
}
