/* Mobile
 *****************/
@media (max-width: 640px) {
  
  .browse-companies-container,
  .search-companies-container {
    h3 {
      background-position: right center;
      padding-left: 0;
      padding-right: 51px;
    }
    
    p {
      margin-bottom: 25px;
      width: auto;
    }
    
    .button {
      position: static;
      width: 100%;
    }
  }
  
  .LanguageSelectTracker {
    .code:after,
    .lang {
      display: none;
    }
  }
}


@media (max-width: 580px) {
  .ed-hero-sub-header {
    min-height: 350px;
    padding-top: 132px;
  
    .ed-hero-sub-header-title {
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.4px;
      width: 317px;
    }
  }
}


@media (max-width: 480px) {
  body .container {
    padding: 0 15px;  
  }
  
  section {
    padding: 30px 15px;
  }
  
  .ed-landing-page-form-container {
    .ed-landing-page-form-inner {
      padding: 30px 15px;
    }
  }
  
  #menu-control {
    margin-top: 11px;
  }
}

@media (max-width: 420px) {
  .header-gov-link .text {
    display: none;
  }
}


@media (max-width: 340px) {
  
  .header-gov-link {
    &:hover, 
    &:link, 
    &:visited {
      padding: 0 0 0 7px;
    }
  }

  #menu-control {
    margin-bottom: 11px;
  }
  
  #site-logo {
    height: 27px;
    margin-bottom: 16px;
    width: auto;
  }
}



