blockquote {
  .text {
    &:after,
    &:before {
      display: none;
    }
  }
}


.browse-companies-container,
.search-companies-container {
  .button {
    left: 25px;
    right: auto;
  }
  
  .title {
    background-position: right center;
    padding-left: 0;
    padding-right: 51px;
  }
}

.ed-arrow_box::after {
	border-width: 20px 0 0 20px;
  left: auto;
  right: 20px;
}

.ed-hero-sub-header {
  background-image: url(/static/images/covers/Generic-Hero-arabic.jpg);
  background-position: top right;
}

.ed-language-switcher {
	float: left;
  
  .trackedSelect {
    left: 0;
    right: initial;
    width: auto;
  }
}

.header-gov-link {
  &:hover,
  &:link, 
  &:visited {
    border-left: none;
    border-right: 1px solid white;
    padding: 0 10px 0 5px;
  }
}

#footer-links {
	padding-left: 40px;
	padding-right: 0;
}

#intro {
  [class*="span"] {
    padding-left: 0;
  }
}

#menu {
	float: left;
}

#site-logo {
  float: right;
}


/* Tablet and mobile tweaks */
@media (max-width: 799px) {
  #menu {
    float: none;
  }
  
  #menu-control {
    float: left;
  }
}

@media (max-width: 320px) {
  .header-gov-link {
    &:hover, 
    &:link, 
    &:visited {
	    padding: 0 7px 0 0;
    }
  }
}