.case-study-info {
  dt {
    &:after {
      content: "";
    }
  }
}

.ed-arrow_box::after {
  border-width: 20px 0 0 20px;
}

.ed-landing-page-sector-case-study-inner {
  .span4 {
    float: right;
    margin-left: 0;
    &:first-child {
      margin-left: 20px;
    }
    &:last-child {
      float: left;
    }
  }
}

.fas-manufacturing {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/Generic-Hero-arabic.jpg);
  }
}
  
.fas-creative {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/creative-rtl.jpg);
  }
}  

.fas-food {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/food-rtl.jpg);
  }
}
  
.fas-health {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/health-rtl.jpg);
  }
}
  
.fas-sports {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/fas-sports-hero-rtl.png);
  }
}
  
.fas-technology {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/technology-rtl.jpg);
  }
}


/* Tablet 
 *******************/
@media (max-width: 767px) {
  /* page class only to override bootstrap */
  .fas-marketing-page {
    .case-study-info {
      border-width: 0 10px 10px 0;
    }
    
    .case-study-testomonial  {
      border-width: 0 0 10px 10px;
    }
  }
}
