@import 'landing-page-bidi.scss';


.fas-manufacturing {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/agnostic-rtl.jpg);
  }
}
  
.fas-creative {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/creative-rtl.jpg);
  }
}  

.fas-food {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/food-rtl.jpg);
  }
}
  
.fas-health {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/health-rtl.jpg);
  }
}
  
.fas-sports {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/fas-sports-hero-rtl.jpg);
  }
}
  
.fas-technology {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/technology-rtl.jpg);
  }
}