.case-study-info {
  background-color: $aqua;
  padding: 20px;
  color: $white;
  a, a:focus {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
  }
  
  dd, dt {
    display: inline;
    font-weight: 300;
    margin: 0;
  }
  
  dl {
    margin: 0;
  }
  
  dt {
    &:after {
      content: ":";
    }
    &:before {
      content: "";
      display: block;
      margin-top: 1em;
    }
  }
}

.fas-manufacturing {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/agnostic.jpg);
  }
}
  
.fas-creative {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/creative.jpg);
  }
}  

.fas-food {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/food.jpg);
  }
}
  
.fas-health {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/health.jpg);
  }
}
  
.fas-sports {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/fas-sports-hero.png);
  }
}
  
.fas-technology {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/technology.jpg);
  }
}


/* Tablet 
 *******************/
@media (max-width: 767px) {
  /* page class only to override bootstrap */
  .fas-marketing-page {    
    .case-study-info,
    .case-study-testomonial {
      border-color: $white;
      border-style: solid;
      display: table-cell;
      float: none;
      width: 50%;
    }
    
    .case-study-info {
      border-width: 0 0 10px 10px;
    }
    
    .case-study-testomonial  {
      border-width: 0 10px 10px 0;
    }
  }
}


/* Mobile 
 *******************/
@media (max-width: 540px) {
  .fas-marketing-page {    
    .case-study-info,
    .case-study-testomonial {
      border: none;
      display: inline-block;
      width: 100%;
    }
  
    .case-study-testomonial {
      margin-bottom: 20px;
    }
  }
}