.case-study-info {
  background-color: $aqua;
  padding: 20px;
  color: $white;
  a, a:focus {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
  }
  
  dd, dt {
    display: inline;
    font-weight: 300;
    margin: 0;
  }
  
  dl {
    margin: 0;
  }
  
  dt {
    &:after {
      content: ":";
    }
    &:before {
      content: "";
      display: block;
      margin-top: 1em;
    }
  }
}

.ed-landing-page-sector-companies-list {
  border: 1px solid #dedede;
  padding: 20px;
  padding-top: 0;
  h2 {
    font-weight: 300;
    font-size: 24px;
  }
  
  .span4 {
    display: table-cell;
    float: none;
    padding: 0 10px;
    vertical-align: top;
    
    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      padding-right: 0;
    }
  }
}

.fas-manufacturing {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/agnostic.jpg);
  }
}
  
.fas-creative {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/creative.jpg);
  }
}  

.fas-food {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/food.jpg);
  }
}
  
.fas-health {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/health.jpg);
  }
}
  
.fas-sports {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/fas-sports-hero.png);
  }
}
  
.fas-technology {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/technology.jpg);
  }
}


/* Tablet 
 *******************/
@media (max-width: 767px) {
  .ed-landing-page-sector-companies-list {
    .span4 {
      width: 48.61%;
      
      &:last-child {
        display: block;
        margin-left: 0;
        padding: 0;
        width: auto;
      }
      
      &:nth-child(2) {
        padding-right: 0;
      }
    }
  }
  
  /* page class only to override bootstrap */
  .fas-marketing-page {    
    .case-study-info,
    .case-study-testomonial {
      border-color: $white;
      border-style: solid;
      display: table-cell;
      float: none;
      width: 50%;
    }
    
    .case-study-info {
      border-width: 0 0 10px 10px;
    }
    
    .case-study-testomonial  {
      border-width: 0 10px 10px 0;
    }
  }
}


/* Mobile 
 *******************/
@media (max-width: 540px) {
  .ed-landing-page-sector-companies-list {
    .span4 {
      display: block;
      margin: 0;
      padding: 0;
      width: auto;
    }
  }
  
  .fas-marketing-page {    
    .case-study-info,
    .case-study-testomonial {
      border: none;
      display: inline-block;
      width: 100%;
    }
  
    .case-study-testomonial {
      margin-bottom: 20px;
    }
  }
}