h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 31px;
  margin: 0 0 24px 0;
}

li {
  line-height: inherit;
  list-style-type: disc;
  margin-bottom: 24px;
}

.case-study-info {
  background-color: $aqua;
  padding: 20px;
  color: $white;
  a, a:focus {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
  }
  
  dd, dt {
    display: inline;
    font-weight: 300;
    margin: 0;
  }
  
  dl {
    margin: 0;
  }
  
  dt {
    &:after {
      content: ":";
    }
    &:before {
      content: "";
      display: block;
      margin-top: 1em;
    }
  }
}

.company {
  padding-top: 58%;
  position: relative;
  
  img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
  }
  
  .title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 31px;
  }
}

.ed-key-facts-container {
  background-color: #007ea3;
  color: $white;
  float: right;
  margin: 0 0 20px 20px;
  padding: 20px;
  width: 50%;
  
  h2 {     
    margin-top: 0;
  }
}

#companies {
  .span4 {
    display: table-cell;
    float: none;
    padding: 0 10px;
    vertical-align: top;
    
    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      padding-right: 0;
    }
  }
}

.fas-manufacturing {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/agnostic.jpg);
  }
}
  
.fas-creative {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/creative.jpg);
  }
}  

.fas-food {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/food.jpg);
  }
}
  
.fas-health {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/health.jpg);
  }
}
  
.fas-sports {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/fas-sports-hero.png);
  }
}
  
.fas-technology {
  .ed-hero-sub-header {
    background-image: url(/static/images/covers/technology.jpg);
  }
}


/* Tablet 
 *******************/
@media (max-width: 799px) {
  #companies {
    .span4 {
      width: 48.61%;
      
      &:last-child {
        display: block;
        margin-left: 0;
        padding: 0;
        width: auto;
      }
      
      &:nth-child(2) {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {  
  .ed-key-facts-container {
    float: none;
    margin: 0 0 20px 0;
    width: auto;
  }
  
  /* page class only to override bootstrap */
  .fas-marketing-page {    
    .case-study-info,
    .case-study-testomonial {
      border-color: $white;
      border-style: solid;
      display: table-cell;
      float: none;
      width: 50%;
    }
    
    .case-study-info {
      border-width: 0 0 10px 10px;
    }
    
    .case-study-testomonial  {
      border-width: 0 10px 10px 0;
    }
  }
}


/* Mobile 
 *******************/
@media (max-width: 540px) {
  #companies{
    .span4 {
      display: block;
      margin: 0;
      padding: 0;
      width: auto;
    }
  }
  
  .fas-marketing-page {    
    .case-study-info,
    .case-study-testomonial {
      border: none;
      display: inline-block;
      width: 100%;
    }
  
    .case-study-testomonial {
      margin-bottom: 20px;
    }
  }
}