/* Industries
 ******************/
.industry {
  background-repeat: no-repeat;
  display: table-cell;
  overflow: hidden;
  position: relative;
  width: 50%;
  
  a {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 30%;
    padding: 0 30px;
    position: relative;
    z-index: 1;
  }
  
  img {
    float: left;
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
    z-index: 0;
    width: auto;
  }
  
  p {
    font-size: 15px;
    line-height: 20px;
    margin-left: 30%;
    padding: 0 30px;
    position: relative;
    z-index: 1;
  }
  
  .title {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 30%;
    padding: 0 30px;
    position: relative;
    z-index: 1;
  }
  
  &:before {
    background-color: $white;
    border: $grey-3 solid 1px;
    content: "";
    display: block;
    height: 100%;
    left: 30%;
    position: absolute;
    width: 70%;
    z-index: 1;
  }
}

#industry-design-break-only {
  /* Horrible design-only element */
  display: block;
  margin-bottom: 30px;
}

#industry-1 { 
  border-right: $white solid 15px; 
}

#industry-2 { 
  border-left: $white solid 15px; 
  img {
    left: -29px;
  }
}

#industry-3 { 
  border-right: $white solid 15px; 
  img {
    left: -155px;
  }
}

#industry-4 { 
  border-left: $white solid 15px; 
}

#industries {
  margin-bottom: 45px;
}


/* TABLET
 ******************/
@media (max-width: 799px) {
  .industry {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
  
  #industry-1,
  #industry-2,
  #industry-3,
  #industry-4 { 
    border: none;
  }
  
  #industry-3 {
    img {
      left: -120px;
    }
  }

  #industry-design-break-only {
    display: none;
  }

  #industries {
    margin-bottom: 45px;
  }
}


/* MOBILE
 ******************/
@media (max-width: 480px) {
  #industry-3 {
    img {
      left: -160px;
    }
  }
}

@media (max-width: 380px) {
  .industry {
    padding-top: 265px;
    position: relative;
    
    a, .title {
      font-size: 18px;
      line-height: 23px;
      margin-left: 0;
      margin-right: 0;
      padding: 0 10%;
      text-align: center;
    }
    
    img {
      float: none;
      height: 250px;
      left: 0;
      position: absolute;
      top: 0;
      width: auto;
    }
    
    p {
      margin-left: 0;
      margin-right: 0;
      padding: 0 10%;
      text-align: center;
    }
    
    &:before {
      display: none;
    }
  }
  
  
  #industry-1,
  #industry-2,
  #industry-3,
  #industry-4 { 
    img {
      left: 0;
    }
  }
}