{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}

{% block head_title %}Find a UK Specialist - GREAT.gov.uk{% endblock %}

{% block header_js %}
    <script src="{% static 'directory_components/js/dit.classes.Dropdown.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.responsive.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.countrySelector.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.languageSelectorDropdown.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.greatInternationalHeader.js' %}"></script>
{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% if LANGUAGE_BIDI %}
        <link href="{% static 'core/bidi.css' %}" media="all" rel="stylesheet" />
    {% endif %}
    <link href="{% static 'directory_components/vendor/flag-icons/css/flag-icon.min.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block cookie_notice %}
  <div dir="ltr">
    {{ block.super }}
  </div>
{% endblock %}

{% block body_header %}
    {% include 'core/includes/international_header.html' %}
{% endblock %}

{% block body_footer %}
    {% include 'directory_components/header_footer/international_footer.html' %}
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'javascripts/index.js' %}"></script>
    <script type="text/javascript">
        GOVUK.page.init();
    </script>
{% endblock %}
