{% extends 'govuk_layout.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}
{% load search_url from company_tags %}

{% block css %}
    <link href="{% static 'lead-generation-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_image_extra_attrs %}
	style="padding-top: 165px; min-height: 450px; background-image:url('{% block hero_image %}{% endblock %}')"
{% endblock %}

{% block hero_title_container %}
    <h1 class="ed-hero-sub-header-title span7">{% block hero_title %}{% endblock %}</h1>
{% endblock %}

{% block hero_text %}
	<br>
	<div class="span4" style="margin-left: 0;">{% block hero_subtitle %}{% endblock hero_subtitle %}</div>
{% endblock hero_text %}

{% block content %}
<div class="container">
	<div>
		<h2 class="section-header">
			{% block proposition_title %}{% endblock %}
		</h2>
		<p>
			{% block proposition_paragraph %}{% endblock %}
		</p>
		<br>
		<div id="ed-proposition-columns" class="row-fluid">
			<div class="span4">
				<div class="row-fluid">
					<div class="span2">
						<img src="{% static 'images/tradition.svg' %}" />
					</div>
					<div class="span10">
						<h3>{% block proposition_col1_title %}{% endblock %}</h3>
						<p>
							{% block proposition_col1_paragraph %}{% endblock %}
						</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="row-fluid">
					<div class="span2">
						<img src="{% static 'images/innovation.svg' %}" />
					</div>
					<div class="span10">
						<h3>{% block proposition_col2_title %}{% endblock %}</h3>
						<p>
							{% block proposition_col2_paragraph %}{% endblock %}
						</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="row-fluid">
					<div class="span2">
						<img src="{% static 'images/quality.svg' %}" />
					</div>
					<div class="span10">
						<h3>{% block proposition_col3_title %}{% endblock %}</h3>
						<p>
							{% block proposition_col3_paragraph %}{% endblock %}
						</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div id="ed-lead-generaiton-call-to_action-container">
			<div class="row-fluid">
				<div class="span6">
					<h2>{% block call_to_action_title %}{% endblock %}</h2>
					<p>{% block call_to_action_paragraph %}{% endblock %}</p>
				</div>
				<div class="span6">
					<a href="#" class="button button-primary">
						{% block call_to_action_button_text %}{% endblock %}
					</a>
				</div>
			</div>
		</div>
        <br>
        <br>
        <div class="ed-carousel-container row-fluid">
          <div class="ed-carousel my-ed-carousel ed-carousel--translate span12">
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="1" checked="checked"/>
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="2"/>
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="3"/>
            <div class="ed-carousel__controls">
              <label class="ed-carousel__control ed-carousel__control--backward" for="3"></label>
              <label class="ed-carousel__control ed-carousel__control--forward" for="2"></label>
            </div>
            <div class="ed-carousel__controls">
              <label class="ed-carousel__control ed-carousel__control--backward" for="1"></label>
              <label class="ed-carousel__control ed-carousel__control--forward" for="3"></label>
            </div>
            <div class="ed-carousel__controls">
              <label class="ed-carousel__control ed-carousel__control--backward" for="2"></label>
              <label class="ed-carousel__control ed-carousel__control--forward" for="1"></label>
            </div>
            <div class="ed-carousel__track">
              <div class="ed-carousel__slide">
                <div class="ed-carousel__text span6">
                    <h2>{% block carousel_slide_one_title %}{% endblock %}</h2>
                    <br>
                    <h3>{% block carousel_slide_one_subtitle %}{% endblock %}</h3>
                    <p>{% block carousel_slide_one_paragraph %}{% endblock %}</p>
                    <br>
                    <a href="#" class="button button-primary">
                        {% block carousel_slide_one_button_text %}{% endblock %}
                    </a>
                </div>
                <div class="ed-carousel__slide__image span6" style="background-image: url('{{ case_studies.0.image_url }}');">
                    <div class="ed-carousel__slide__image_caption">
                        {{ case_studies.0.name }} | <a href="{{ case_studies.0.case_study_url }}">view case study</a>
                    </div>
                </div>
              </div>
              <div class="ed-carousel__slide">
                <div class="ed-carousel__text span6">
                    <h2>{% block carousel_slide_two_title %}{% endblock %}</h2>
                    <br>
                    <h3>{% block carousel_slide_two_subtitle %}{% endblock %}</h3>
                    <p>{% block carousel_slide_two_paragraph %}{% endblock %}</p>
                    <br>
                    <a href="#" class="button button-primary">
                        {% block carousel_slide_two_button_text %}{% endblock %}
                    </a>
                </div>
                <div class="ed-carousel__slide__image span6" style="background-image: url('{{ case_studies.1.image_url }}');">
                    <div class="ed-carousel__slide__image_caption">
                        {{ case_studies.1.name }} | <a href="{{ case_studies.1.case_study_url }}">view case study</a>
                    </div>
                </div>
              </div>
              <div class="ed-carousel__slide">
                <div class="ed-carousel__text span6">
                    <h2>{% block carousel_slide_three_title %}{% endblock %}</h2>
                    <br>
                    <h3>{% block carousel_slide_three_subtitle %}{% endblock %}</h3>
                    <p>{% block carousel_slide_three_paragraph %}{% endblock %}</p>
                    <br>
                    <a href="#" class="button button-primary">
                        {% block carousel_slide_three_button_text %}{% endblock %}
                    </a>
                </div>
                <div class="ed-carousel__slide__image span6" style="background-image: url('{{ case_studies.2.image_url }}');">
                    <div class="ed-carousel__slide__image_caption">
                        {{ case_studies.2.name }} | <a href="{{ case_studies.2.case_study_url }}">view case study</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="ed-carousel__indicators">
              <label class="ed-carousel__indicator" for="1"></label>
              <label class="ed-carousel__indicator" for="2"></label>
              <label class="ed-carousel__indicator" for="3"></label>
            </div>
          </div>
        </div>
        <br>
		<h2 class="section-header">
			{% trans "More UK suppliers" %}
		</h2>
		<br>
		<div id="ed-showcase-container" class="row-fluid">
			{% for company in companies %}
				<div class="span4">
					<img src="{{ company.logo }}" />
					<div>
						<br>
						<h2>{{ company.name }}</h2>
						<p>{% trans 'Incorporated in: ' %}<strong>{{ company.incorporation_date }}</strong></p>
						<p>{% trans 'Number of employees: ' %}<strong>{{ company.number_of_employees }}</strong></p>
						<p><a href="{{ company.profile_url }}">{% trans 'view profile' %}</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
		<br>
	</div>
</div>
{% endblock content %}
